<footer id="footer_div">
      
    <div class="social_links">
        <div class="social_link facebook"><a href="#"><i class="fab fa-facebook facebook-bottom"></i></a></div>
        <div class="social_link instagram"><a href="#"><i class="fab fa-instagram instagram-bottom"></i></a></div>
        <div class="social_link twitter"><a href="#"><i class="fab fa-twitter twitter-bottom"></i></a></div>
    </div>

    <div class="contact_link">
        <div class="contact_link--text">
            <h6>Get In Contact</h6>
        </div>
        <div class="contact_link--button">
            <form action="/contact">
                <button>Click Here</button>
            </form>
        </div>
    </div>

</footer>