<footer id="footer_div">

    <div class="footer--div_1">
        <h4>Sacred Tribe Energy Healing</h4>

        <div class="social_links">
            <div class="social_link facebook"><a href="#"><i class="fab fa-facebook facebook-bottom"></i></a></div>
            <div class="social_link instagram"><a href="#"><i class="fab fa-instagram instagram-bottom"></i></a></div>
            <div class="social_link twitter"><a href="#"><i class="fab fa-twitter twitter-bottom"></i></a></div>
        </div>

        <div class="contact_details">
            <div class="footer_contact footer_contact-address">
                <img src="/assets/images/icons/location.svg" alt="Location icon">
                <p>Shannon, Co. Clare, Ireland</p>
            </div>
            <div class="footer_contact footer_contact-email">
                <img class="icon-padding-top" src="/assets/images/icons/email.svg" alt="Email icon">
                <p>jenny@sacredtribe-energyhealing.com</p>
            </div>
            <div class="footer_contact footer_contact-phone">
                <img class="icon-padding-top" src="/assets/images/icons/phone.svg" alt="Phone icon">
                <p>(+353) 87 936 1919</p>
            </div>
        </div>
    </div>
    <div class="footer--div_2">
        <h6><a href="/jewellery">Jewellery</a></h6>
        <ul>
            <li><a href="/jewellery/collections/bracelet-earring#product_container">Bracelet & Earring Sets</a></li>
            <li><a href="/jewellery/collections/necklace-earring#product_container">Necklace & Earring Sets</a></li>
            <li><a href="/jewellery/collections/bracelet-necklace-earring#product_container">Bracelet, Necklace & <br> Earring Sets</a></li>
            <li><a href="/jewellery/custom">Custom Jewellery</a></li>
        </ul>
    </div>
    <div class="footer--div_3">
        <h6><a href="/treatments">Treatments</a></h6>
        <ul>
            <li><a href="/treatments/energy-treatment">Energy Treatments</a></li>
            <li><a href="/treatments/absentee-treatment">Absentee Treatments</a></li>
        </ul>
    </div>
    <div class="footer--div_4">
        <h6><a href="/about">Philosophy</a></h6>
        <ul>
            <li><a href="/awareness">Awareness</a></li>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/links">Links</a></li>
        </ul>

    </div>
    <div class="footer--div_5">
        <h6><a href="/contact">Get in contact</a></h6>
        <a class="contact_link--button" href="/contact"><button>Click Here</button></a>
    </div>

</footer>