<nav class="navbar navbar_black fixed-top navbar-expand-lg navbar-light pt-0 mt-0">
    <div class="container container-fluid">
        <a class="navbar-brand black-brand" href="/">Sacred Tribe Energy Healing</a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/jewellery">Jewellery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/treatments">Treatments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/awareness">Awareness</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blogs">Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/links">Links</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-main-cart" onclick="toggleCart()"><i class="fas fa-shopping-bag"></i><span class="item_number"><%=cart.lineItems.length > 0 ? cart.lineItems.length : ""%></span></a>
                    <div id="arrow"></div>
                </li>
                <div class="navbar-nav ml-auto">
                    <% if(currentUser) {%>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    <% } %>
                </div>
            </ul>
    </div>
</nav>