<div class="side_navbar">
    <a href="javascript:void(0)" class="side_navbar--close" onclick="closeNav()">&times;</a>
    <a class="side-nav-link" href="/">Home</a>
    <a class="side-nav-link" href="/jewellery">Jewellery</a>
    <a class="side-nav-link" href="/treatments">Treatments</a>
    <a class="side-nav-link" href="/awareness">Awareness</a>
    <a class="side-nav-link" href="/blogs">Blogs</a>
    <a class="side-nav-link" href="/about">About</a>
    <a class="side-nav-link" href="/links">Links</a>
    <a class="side-nav-link" href="/contact">Contact</a>
    <% if(currentUser) {%>
        <a class="side-nav-link" href="/logout">Logout</a>
    <% } %>
</div>


<div class="mobile_navbar black">
    <div class="mobile_navbar--container container container-fluid">
        <a class="navbar-brand black-brand" href="/">Sacred Tribe Energy Healing</a>
        <button class="side_navbar--open black" onclick="openNav()">&#9776;</button>
    </div>
</div>