<div class="social_bar">
    <a href="#">
        <div class="social_bar_item facebook-bar">
            <i class="fab fa-facebook-f"></i>
        </div>
    </a>
    <a href="#">
        <div class="social_bar_item twitter-bar">
            <i class="fab fa-twitter"></i>
         </div>
    </a>
    <a href="#">
        <div class="social_bar_item instagram-bar">
            <i class="fab fa-instagram"></i>
         </div>
    </a>
    <a href="#">
        <div class="social_bar_item mail-bar">
            <i class="far fa-envelope"></i>
         </div>
    </a>
    <a href="#">
        <div class="social_bar_item plus-bar">
            <i class="fas fa-plus"></i>
         </div>
    </a>
</div>