<% layout('layouts/boilerplate')%>

<div class="progress"></div>

<%- include('../../partials/navbarBlack')%>

<div class="awareness_about--wrapper shadow">

    <div class="header_div">
        <h1>Sacred Tribe Energy Healing</h1>
    </div>

    <div class="header_img_div">
        <img class="shadow" src="../images/jenny-field.jpg" alt="Jennifer Wilson profile picture">
    </div>

    <div class="body_div">
        <p>It is <b>my honour</b> to serve Spirit today through your presence; it is not by chance that you peruse this site but the perfect unfolding of the universal will, guided by your prayers, desires and dreams.</p>

        <div class="body_grid body_grid--1">
            <div class="body_grid--section-1 about-quote quote-box shadow">
                <img class="about_open-quote-1" src="../images/icons/open-quote.svg" alt="Open quote icon">
                <p>I see only your incredible strength and power</p>
                <img class="about_close-quote-1" src="../images/icons/close-quote.svg" alt="Close quote icon">
            </div>
            <div class="body_grid--section-2">
                <p>You were guided here by the universal light (consciously or unconsciously) because it knows I see only your incredible strength and power, not stunted in any way but without awareness, misdirected to create the disharmony of issues that form your present reality.</p>
            </div>
        </div>
        
        <p>I will empower you to remember, to reclaim and to create that which you seek, by sharing with you the tools of <b>Awareness</b> so that you may observe and understand the power you hold within the structures of your relationship with self and others - amid the varied dynamics of your life.</p>

        <p>Long term healing on any level, be it physical, mental, emotional or spiritual, requires an awareness of energy, so that you the <b>individual</b> may take control and responsibility for your own continued healing and reality. For it is a sacred truth that the healer must not take, be given or accept your power.</p>

        <p><b>The 'Sacred Tribe' is the unity of Spirit come together in love to 'serve the light'.</b></p>

        <p>This tribe consists of angels, archangels, ascended masters of all religions, teachers, guides, shamanic realm, Mother Earth and the spirit of her oceans, gypsy spirit, dragon energy, moon energy, elemental energy, nature spirit energy and other planetary tribes that have chosen to unite to serve the light.</p>

        <div class="body_grid body_grid--2">
            <div class="body_grid--section-1">
                <p>It is their <b>intent</b> to unify as one, so that they may offer the tribes of this earth, their frequency of unified energy so that we too may hold this great potential through love to unite as one.</p>

                <p><b>It is their gift to our world at this time of unfolding growth.</b></p>
            </div>
            <div class="body_grid--section-2 about-quote quote-box shadow">
                <img class="about_open-quote-2" src="../images/icons/open-quote.svg" alt="Open quote icon">
                <p>... we too may hold this great potential through love to unite as one</p>
                <img class="about_close-quote-2" src="../images/icons/close-quote.svg" alt="Close quote icon">
            </div>
        </div>
        </div>

        <div class="jennifer-quote">
            <p>"May the Great Spirit bless your chosen path and may you allow the love imprinted upon your soul to guide you always" <span class="quote-name text-muted">- Jennifer Wilson</span></p>
        </div>

    </div>

</div> <!-- END OF WRAPPER -->

<div class="awareness_about_link">
    <div class="awareness_about_link_infobar--content">

        <div class="awareness_about_link--text">
            <p>Discover the power of Awareness</p>
        </div>

        <div class="awareness_about_link--button">
            <a href="/awareness">
                <button class="link-button">Read more</button>
            </a>
        </div>
</div>