<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Absentee Treatment</title>
</head>

<body>
    <h1>Absentee Treatment</h1>

 <p><a href="/treatments">Go back</a></p>
</body>

</html>