/* GENERAL TAGS */
html {
    overflow-y: scroll;
    /* scroll-behavior: smooth; */
    scroll-snap-type: y proximity;
}

body {
    max-width: 1380px;
    margin: 0 auto;
    font-family: var(--main-font);
}

.page_content {
    width: 100%;
    height: 100%;
}

.navbar {
    display: block;
}

.navbar_home.background-color-hero {
    background-color: #29211eb6;
    transition: all .2s ease;
}

.navbar_home.background-color {
    background-color: var(--deep-purple);
    transition: all .2s ease;
}

.navbar_home.background-color .home-brand {
    visibility: visible;
}

.mobile_navbar.background-color .home-brand {
    visibility: visible;
}

button,
.nav-link {
    font-family: var(--bs-font-sans-serif);
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white; 
}

/* HERO SECTION  W/ NAVBAR INSIDE */
#hero_div {
    background-image: url("/assets/images/hero-image-rock-crystal.jpg");
    background-size: cover;
    background-position: 0%;
    height: 40rem;
    margin-bottom: 5rem;
    position: relative;
    scroll-snap-align: center;
}

.home-brand {
    visibility: hidden;
}

.hero_mobile_header {
    display: none;
}

.hero_mobile_links {
    display: none;
}

.hero_text {
    color: var(--crystal-cream);
    max-width: 35rem;
    text-align: center;
    margin: 7rem 0 0 4rem;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    text-shadow: var(--main-shadow);
}

.hero_text--links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-around;
    padding: 0 2rem;
    font-size: 2rem;
    font-weight: 700;
    text-shadow: var(--main-shadow);
}

.hero_text--links a:hover {
    color: var(--teal);
}

.hero_text--button button {
    background-color: var(--deep-purple);
    height: 2.5rem;
    width: 9rem;
    border: none;
    color: white;
    border-radius: 10px;
}

.hero_text--button button:hover {
    background-color: var(--teal);
}

.hero_arrow {
    position: absolute;
    bottom: 8%;
    left: 50%;
    color: white;
}

.fa-angle-double-down {
    font-size: 3rem;
}

.fa-angle-double-down.active {
    animation: bounce;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes bounce {
    15% {
        transform: translateY(2rem);
    }
    30% {
        transform: translateY(0);
    }
    45% {
        transform: translateY(2rem);
    }
    60% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(2rem);
    }
    90% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.hero_curve_design,
.philosophy_curve_design {
    display: none;
}
  

/* PHILOSOPHY */

#philosophy_div {
    height: 40rem;
    background-image: url("/assets/images/philosophy-bg.png");
    background-size: cover;
    background-position: 0 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5rem;
    font-weight: 700;
    scroll-snap-align: center;
}

.philosophy_image {
    margin: 5rem 0 0 7rem;
}

.philosophy_image img {
    max-width: 32rem;
}

.slide-in {
    transform: translateX(-50%);
    opacity: 0;
}

.philosophy_mobile_header {
    display: none;
}

.philosophy_text {
    margin: 7rem 0 0 2rem;
}

h2 {
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--deep-purple);
}

.philosophy_text--body {
    font-size: 2.5rem;
}

.step-fade-in p,
.step-fade-in h2 {
    opacity: 0;
}

.philosophy_text--name {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--light-purple);
}

/* JEWELLERY */

#jewellery_div {
    height: 75rem;
    margin-bottom: 4rem;
}

.jewellery_top_div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 4rem;
}

.jewellery_top_div--text {
    margin: 5rem 0 0 2rem;
    text-align: center;
    font-weight: 700;
}

.jewellery_top_div--logo img {
   width: 14rem;
}

.jewellery_top_div--body {
    font-size: 2.5rem;
    color: var(--deep-purple);
}

.jewellery_top_div--button button{
    background-color: white;
    font-size: 1rem;
    height: 2.5rem;
    width: 8rem;
    border: 1px solid var(--deep-purple);
    color: var(--deep-purple);
    border-radius: 10px;
}

.jewellery_top_div--button button:hover,
.collection_div--button button:hover {
    background-color: var(--deep-purple);
    border: none;
    color: white;
}

.jewellery_top_div--image {
    margin: 2rem 5rem 0 0;
    position: relative;
}

.swiper-container {
    display: block;
    width: 45rem;
    height: 30rem;
  }

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    left: 0;
    background-color: var(--deep-purple);
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.jewellery_bottom_div {
   text-align: center;
}

h3 {
    font-size: 3.5rem;
    color: var(--deep-purple);
    margin-bottom: 4rem;
    font-weight: 700;
}

.jewellery_bottom_div--collections {
    display: grid;
    grid-template-columns: repeat(3, 18rem);
    justify-content: center;
    gap: 5rem;
    padding: 0 3rem;
}

.slide-up {
    transform: translateY(30%);
    opacity: 0;
}

.jewellery_bottom_div--collection {
    width: 18rem;
}

.jewellery_bottom_div--collection h5 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--deep-purple);
}

.collection_div--text-1,
.collection_div--text-3 {
    margin-top: 1rem;
    margin-bottom: 1.7rem;
    font-weight: 700;
}

.collection_div--button button {
    background-color: white;
    height: 2rem;
    width: 6rem;
    border: 1px solid var(--deep-purple);
    color: var(--deep-purple);
    border-radius: 10px;
}

/* TREATMENTS */

#treatments_div {
    height: 40rem;
    background-image: url("/assets/images/treatments-bg.png");
    background-position: 80%;
    background-size: cover;
    display: grid;
    text-align: center;
    align-items: center;
    font-weight: 700;
    text-shadow: var(--main-shadow);
    scroll-snap-align: center;
}

.treatments_text {
    color: white;
}

h4 {
    font-size: 4rem;
    font-weight: 700;
}

.treatments_text--body {
    margin: 0 15rem;
    font-size: 3rem;
}

.treatments_text--button button {
    background: none;
    height: 2.5rem;
    width: 8rem;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
}

.treatments_text--button button:hover {
    background: white;
    border: 1px solid var(--deep-purple);
    color: var(--deep-purple);
}

/* FOOTER */

#footer_div {
    height: 20rem;
    margin-top: auto;
    width: 100%;
    background-color: var(--off-black);
    color: rgba(255,255,255,.55);
    display: grid;
    grid-template-columns:  40% auto auto auto auto;
    justify-content: space-around;
    padding: 2rem;
    padding-top: 3rem;
    font-size: .8rem;
    font-family: 'Open Sans';
}

#footer_div h4 {
    font-family: var(--main-font);
    color: white;
    font-size: 3rem;
}

#footer_div ul {
    padding-inline-start: 0;
}

#footer_div li {
    padding-top: .5rem;
    list-style: none;
}

#footer_div li a {
    color: rgba(255,255,255,.55);
}

#footer_div li a:hover {
    color: #d7cbdd;
}

#footer_div h6 {
    color: white;
    font-family: var(--main-font);
    font-size: 1.5rem;
    font-weight: 700;
}

.social_links {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: start;
    padding-left: 3rem;
    margin-top: 0.5rem;
}

.social_link {
    margin: 0 2rem;
    font-size: 1.5rem;
}

.facebook-bottom:hover {
    color: #4267B2;
}

.instagram-bottom:hover {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.twitter-bottom:hover {
    color: #1DA1F2;
} 

.contact_details {
    margin-top: 2rem;
}

.footer_contact {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
}

.footer_contact img {
    width: 1rem;
}

.icon-padding-top {
    padding-top: .3rem;
}

.footer--div_5  {
    text-align: center;
}

.contact_link--button button {
    background-color: var(--deep-purple);
    height: 2.5rem;
    width: 9rem;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 1rem;
}

.contact_link--button button:hover {
    background-color: var(--teal);
} 

/*##### ANIMATIONS #####*/

.slide-in-active {
    animation-name: slide-in;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes slide-in {
    to { 
        transform: translateX(0%);
        opacity: 1;
    }
}

.slide-up-active {
    animation-name: slide-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes slide-up {
    to { 
        transform: translateY(0%);
        opacity: 1;
    }
}

.step-fade-in-active {
    animation-name: fade-in;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    to { 
        opacity: 1; 
    }
}

.overlay-active {
    animation-name: overlay;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes overlay {
    to {
        left: 100%;
        width: 0;
    }
}

@media  (max-width: 1024px) {
    body {
        max-width: 1024px;
    }
    
    .mobile_navbar.background-color .home-brand {
        visibility: visible;
    }

    #hero_div {
        height: 30rem; 
        margin-bottom: 3rem;
    }
    
    .hero_text {
        color: var(--crystal-cream);
        text-align: center;
        max-width: 28rem;
        margin: 0;
        padding: 5rem 0 0 1rem;
    }
    
    h1 {
        font-size: 3rem;
    }
    
    .hero_text--links {
        padding: 0 3rem;
        font-size: 1.5rem;
    }

    .hero_arrow {
        display: none;
    }

    /* PHILOSOPHY */

    #philosophy_div {
        background-position: 20% 80%;
        height: 30rem;
        scroll-snap-align: none;
    }

    .philosophy_image {
        margin: 2rem 0 0 1.5rem;
        padding-bottom: 3rem;
    }

    .philosophy_image img {
        max-width: 26rem;
    }

    .philosophy_text {
        margin: 0;
        padding: 3.5rem 0 5rem 0rem;
    }

    h2 {
        font-size: 3rem;
        font-weight: 700;
        color: var(--deep-purple);
    }

    .philosophy_text--body {
        font-size: 2rem;
    }

    .slide-in {
        transform: translateX(0);
        opacity: 1;
    }

    .step-fade-in p,
    .step-fade-in h2 {
        opacity: 1;
    }
    
    /* JEWELLERY */

    #jewellery_div {
        height: 60rem;
        margin-bottom: 5rem;
    }

    .jewellery_top_div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 3rem;
    }

    .jewellery_top_div--text {
        margin: 0;
        padding: 3rem;
    }

    .jewellery_top_div--logo img {
        width: 10rem;
    }

    .jewellery_top_div--body {
        font-size: 2rem;
    }

    .jewellery_top_div--button button{
        height: 2.3rem;
        width: 6.5rem;
    }

    .jewellery_top_div--image {
        margin: 2rem 3rem 0 0;
    }

    .swiper-container {
        width: 600px;
        height: 450px;
    }

    .jewellery_bottom_div {
        text-align: center;
    }

    h3 {
        font-size: 3rem;
        margin-bottom: 3rem;
    }

    .jewellery_bottom_div--collections {
        display: grid;
        grid-template-columns: repeat(3, 15rem);
        justify-content: space-around;
        padding: 0 3rem;
    }

    .jewellery_bottom_div--collection {
        width: 15rem;
    }

    h5 {
        font-size: 1.8rem;
    }

    .collection_div--text-1,
    .collection_div--text-3 {
        margin: 0;
    }

    /* TREATMENTS */

    #treatments_div {
        height: 30rem;
    }

    h4 {
        font-size: 3rem;
    }

    .treatments_text--body {
        margin: 0;
        padding: 0 5rem;
        font-size: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    body {
        max-width: 768px;
        overflow-x: hidden;
        margin: 0;
    }
    
    /* HERO SECTION  W/ NAVBAR INSIDE */
    #hero_div {
        background-size: cover;
        background-position: 0%;
        height: 26rem;
        margin-bottom: 3rem;
    }
    
    .hero_text {
        max-width: 22rem;
        margin: 0;
        padding: 3rem 0 0 1rem;
    }
    
    h1 {
        font-size: 2.5rem;
    }
    
    .hero_text--links {
        padding: 0 2rem;
        font-size: 1.4rem;
    }

    .hero_text--button button {
        background-color: var(--deep-purple);
        height: 2rem;
        width: 7rem;
        font-size: 0.9rem;
    }

    /* PHILOSOPHY */

    #philosophy_div {
        background-position: 20% 80%;
        height: 26rem;
        scroll-snap-align: none;
    }

    .philosophy_image {
        margin: 1rem 0 0 1rem;
        padding-bottom: 3rem;
    }

    .philosophy_image img {
        max-width: 22rem;
    }

    .philosophy_text {
        margin: 0;
        padding: 3rem 0 4rem 0rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    .philosophy_text--body {
        font-size: 1.7rem;
    }

    
    .philosophy_text--name {
        font-size: 1.3rem;
    }

    
    /* JEWELLERY */

    #jewellery_div {
        height: 55rem;
        margin-bottom: 3rem;
    }

    .jewellery_top_div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 3rem;
    }

    .jewellery_top_div--text {
        margin: 0;
        padding: 2rem;
    }

    .jewellery_top_div--logo img {
        width: 9rem;
    }

    .jewellery_top_div--body {
        font-size: 1.7rem;
    }

    .jewellery_top_div--button button{
        height: 2rem;
        width: 6rem;
        font-size: 0.9rem;
    }

    .jewellery_top_div--image {
        margin: 2rem 2rem 0 0;
    }

    .swiper-container {
        width: 32rem;
        height: 25rem;
    }

    h3 {
        font-size: 2rem;
    }

    .jewellery_bottom_div--collections {
        display: grid;
        grid-template-columns: repeat(3, 12rem);
        justify-content: space-around;
        padding: 0 2rem;
    }

    .jewellery_bottom_div--collection {
        width: 12rem;
    }

    h5 {
        font-size: 1.5rem;
    }

    .collection_div--text-1,
    .collection_div--text-3 {
        margin: 0;
    }

    .collection_div--button button {
        height: 1.5rem;
        width: 5rem;
        font-size: .8rem;    
    }

    /* TREATMENTS */

    #treatments_div {
        height: 26rem;
    }

    h4 {
        font-size: 2.5rem;
    }

    .treatments_text--body {
        margin: 0;
        padding: 0 5rem;
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 480px) {
    body {
        max-width: 480px;
        overflow-x: hidden;
        margin: 0;
    }
    
    /* HERO SECTION  W/ NAVBAR INSIDE */
    #hero_div {
        background-position: 30% 50%;
        height: 20rem;
        margin-bottom: .5rem;
    }

    .hero_mobile_header {
        display: block;
        text-align: center;
        position: absolute;
        top: 15%;
        left: 5%;
    }
    
    .hero_mobile_text--header h1 {
        font-size: 2.5rem;
        color: var(--crystal-cream);
        text-shadow: var(--main-shadow);
    }

    .hero_mobile_links {
        position: absolute;
        bottom: 0;
        display: grid;
        color: white;
        grid-template-columns: repeat(5, 1fr);
        justify-content: space-around;
        text-align: center;
        padding: 0 2rem;
        gap: .5rem;
        font-size: 1.5rem;
        font-weight: 700;
        text-shadow: var(--main-shadow);
    }
    
    .hero_text {
        display: none;
    }

    /* PHILOSOPHY */

    #philosophy_div {
        height: auto;
        background-image: url("/assets/images/crystal-bg-small.png");
        background-size: 20rem;
        background-repeat: no-repeat;
        background-position: 100% 100%;
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 3rem;
        font-weight: 700;
        padding-top: 1rem;
        text-align: center;
    }

    .philosophy_image {
        margin: 0 auto;
        padding-bottom: 0;
    }

    .philosophy_image img {
        max-width: 80%;
        padding-bottom: 0;
    }

    .philosophy_text {
        margin: 0;
        padding: 1rem;
        padding-bottom: 9rem;
    }

    .philosophy_mobile_header {
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5rem;
    }

    h2.philosophy_mobile--header {
        font-size: 2.5rem;
    }

    .philosophy_text {
        margin: 0 auto;
    }

    h2.philosophy_text--header {
        display: none;
    }

    .philosophy_text--body {
        font-size: 2rem;
    }

    .step-fade-in p,
    .step-fade-in h2 {
        opacity: 1;
    }

    .philosophy_text--name {
        font-size: 1.5rem;
    }

    /* JEWELLERY */

    #jewellery_div {
        height: auto;
        margin-bottom: 2rem;
    }

    .jewellery_top_div {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 0;
    }

    .jewellery_top_div--text {
        margin: 0 auto;
        padding: 0;
        text-align: center;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }

    .jewellery_top_div--logo img {
        width: 10rem;
    }

    .jewellery_top_div--body {
        font-size: 2rem;
        padding: 0;
        padding-top: 0.5rem;
    }

    .jewellery_top_div--body p {
        margin-bottom: 0;
    }

    .jewellery_top_div--image {
        display: none;
    }

    .jewellery_bottom_div {
        text-align: center;
    }

    h3 {
        display: none;
    }

    .jewellery_bottom_div--collections {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-around;
        padding: 1rem;
        gap: .5rem;
    }

    .slide-up {
        transform: translateY(0);
        opacity: 1;
    }

    .jewellery_bottom_div--collection {
        width: auto;
        margin-bottom: 1rem;
    }

    h5 {
        font-size: 1rem;
    }

    .collection_div--text-1,
    .collection_div--text-3 {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    .collection_div--button button {
        height: 1.5rem;
        width: 5rem;
        font-size: .8rem;
    }

    /* TREATMENTS */

    #treatments_div {
        height: auto;
    }

    .treatments_text {
        color: white;
        margin: 0 auto;
        padding: 8rem 0;
    }

    h4 {
        font-size: 2.5rem;
    }

    .treatments_text--body {
        margin: 0;
        padding: 0 1rem;
        font-size: 1.5rem;
    }

    .treatments_text--button button {
        height: 2rem;
        width: 6rem;
        font-size: 0.8rem;
    }
    
  }