/* HERO DIV */
#jewellery__hero_div {
    margin-bottom: 3rem;
    font-family: var(--main-font);
}

.hero_header {
    background-color: var(--deep-purple);
    height: 22rem;
}

.indian_woman--img-overlay {
    background-image: url("../images/woman2.png");
    background-repeat: no-repeat;
    background-size: 25rem;
    background-position: 10% 90%;
}

.hero_header-content {
    display: grid;
    justify-content: center;
    color: white;
}

.hero_header--icon {
    display: grid;
    margin-top: 2rem;
    z-index: 2;
}

.hero_header--icon img {
    width: 10rem;
    justify-self: center;
}

.hero_header--text {
    font-size: 2.5rem;
    border: 2px solid white;
    padding: 3rem 2rem 0 2rem;
    font-weight: 700;
    position: relative;
    transform: translateY(-3rem);
    z-index: 1;
    text-shadow: var(--main-shadow);
}

.hero_infobar {
    height: 4rem;
    background-color: var(--teal);
    color: white;
    font-family: "Open Sans";
}

.dropdown {
    animation: down .5s ease-in-out forwards;
}

@keyframes down {
    to {
        height: 19rem;
    }
}

.dropup {
    animation: up .5s ease-in-out forwards;
}

@keyframes up {
    to {
        height: 4rem;
    }
}

.hero_infobar.active {
    height: 19rem;
}

.hero_infobar--content {
    display: grid;
    justify-content: center;
    position: relative;
    bottom: 0;
}

.hero_infobar--text p {
    font-size: 1rem;
    margin-top: .2rem;
    margin-bottom: 0.2rem;
    text-align: center;
}

.hero_infobar--grid {
    display: grid;
    grid-template-columns: repeat(2, 24rem);
    grid-gap: 5rem;
    margin-top: 2rem;
    opacity: 0;
}

.hero_infobar--grid.fade-in {
    animation: fade-in 1s forwards;
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}

.hero_infobar--grid.fade-out {
    animation: fade-out .5s forwards;
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

.hero_infobar--grid.active {
    opacity: 1;
}

.hero_infobar--grid-item-icon {
    text-align: center;
    display: grid;
    grid-template-rows: 4rem 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;
}

.grid_item--icon {
    height: 4rem;
}

.hero_infobar--button {
    display: grid;
}

.buying_guide-button {
    background: none;
    height: 1.5rem;
    width: 5rem;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    justify-self: center;
    font-size: .7rem;
}

.buying_guide-button:hover {
    background-color: white;
    color: var(--teal);
    border: none;
}

.hero_grid_mobile {
    display: none;
}

.hero_grid {
    display: grid;
    grid-template-columns: repeat(3, 14rem);
    grid-template-rows: 14rem;
    justify-content: center;
    grid-gap: 6rem;
}

.hero_grid--item {
    margin: 1rem 0;
    display: grid;
    overflow: hidden;
}

.hero_grid--item-1 {
    background-image: url("../images/Jewellery-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.hero_grid--item-2 {
    background-image: url("../images/Jewellery-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.hero_grid--item-3 {
    background-image: url("../images/Jewellery-3.jpg");  
    background-size: cover;
    background-repeat: no-repeat;                                                           
}

.overlay {
    background-color: var(--deep-purple);
    border: 1px solid white;
    position: relative;
    top: 1rem;
    left: 2rem;
    height: 10rem;
    width: 10rem;
    opacity: 0.7;
}

.hero_grid--item-content {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    text-shadow: var(--main-shadow);
    text-align: center;
    position: relative;
}

.hero_grid--item-content-1 {
    top: -7rem !important;
}

.hero_grid--item-content-2 {
    top: -8rem !important;
}

.hero_grid--item-content-3 {
    top: -6.3rem !important;
}

.hero_grid--item-icon img {
    height: 4rem;
}

.shipping-icon img {
    height: 3rem;
}

.hero_grid--item-1 p {
    margin-top: 1rem;
}

.hero_grid--item-3 p {
    margin-top: 1.3rem;
}

.jewellery_collection {
    display: grid;
    justify-content: center;
}

h2 {
    font-family: var(--main-font);
    font-size: 3.5rem;
    color: var(--deep-purple);
    font-weight: 700;
}

/* CONTENT DIVS */

#product_container {
    display: block;
    position: relative;
    top: -4rem;
    visibility: hidden;
}

.jewellery_content_div {
    display: grid;
    grid-template-columns: 15rem 1fr;
}

.jewellery_side_panel ul {
    padding-left: 0.3rem;
}

.jewellery_side_panel a {
    color: black;
    text-decoration: none; 
}

.collection_selection {
    list-style: none;
}

.collection_selection.active {
    background-color: var(--deep-purple);
    color: white;
    padding-left: 0.5rem
}

.collection_selection.active a {
    color: white;
}


.jewellery_item_div {
    display: grid;
    grid-template-columns: repeat(3, 18rem);
    text-align: center;
    grid-gap: 4rem;
    margin: 2rem;
}

.jewellery_item {
    width: 20rem;
    height: 29rem;
}
.jewellery_item .card-body {
    padding: 0;
}

h5 {
    font-size: 2rem;
    font-weight: 700;
    font-family: var(--main-font);
}

.jewellery_item p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.jewellery_item--button button {
    background-color: white;
    height: 2rem;
    width: 6rem;
    border: 1px solid var(--deep-purple);
    color: var(--deep-purple);
    border-radius: 10px;
}

.jewellery_item--button button:hover {
    background-color: var(--deep-purple);
    border: none;
    color: white;
}

/* TREATMENT AND AWARENESS LINKs */

.treatments_link,
.awareness_link {
    height: 40vh;
    background-image: url("../images/treatments-bg.png");
    background-position: 0 50%;
    background-size: cover;
    display: grid;
    text-align: center;
    align-items: center;
    font-weight: 700;
    text-shadow: var(--main-shadow);
}

.treatments_text,
.awareness_text {
    color: white;
}

h4 {
    font-size: 3rem;
    font-weight: 700;
    font-family: var(--main-font);
}

.treatments_text--body {
    margin: 0 20rem;
    font-size: 2rem;
    font-family: var(--main-font);
}

.awareness_text--body {
    margin: 0 15rem;
    font-size: 2rem;
    font-family: var(--main-font);
}

.treatments_text--button button,
.awareness_text--button button {
    background: none;
    height: 2rem;
    width: 7rem;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
}

.treatments_text--button button:hover,
.awareness_text--button button:hover {
    background: white;
    border: 1px solid var(--deep-purple);
    color: var(--deep-purple);
}

/* ##################### */
/*       SHOW PAGE       */
/* ##################### */

.jewellery_show--wrapper {
    margin: 0 5rem;
}


.back_to_jewellery {
    padding: 1rem 0;
}

.back_to_jewellery a {
    color: var(--deep-purple);
    font-family: var(--bs-font-sans-serif);
}

.jewellery_content_main {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto 38rem;
    text-align: start;
    font-family: var(--bs-font-sans-serif);
    margin-bottom: 3rem;
}

.jewellery_content_main--section-1 {
    display: grid;
    grid-template-columns: repeat(16, 2rem);
    grid-template-rows: repeat(13, 2rem);
    grid-gap: .2rem;
}

.thumb_image {
    height: 6rem;
    width: 6rem;
    grid-column: 1 / 3;
}

.thumb-1 {
    grid-row: 1 / 3;
}

.thumb-2 {
    grid-row: 4 / 7;
}

.thumb-3 {
    grid-row: 7 / 10;
}

.main_image {
    grid-column: 4 / -1;
    grid-row: 1 / -1;
    max-width: 100%;
}

.share_item {
    grid-column: 1 / 4;
    grid-row: -3 / -1;
    text-align: center;
    text-transform: uppercase;
}

/* .jewellery_content_main--section-2 {

} */

h1.jewellery_title {
    font-size: 3rem;
    font-family: var(--main-font);
    font-weight: 700;
}

h2.jewellery_type {
    font-size: 2rem;
    font-family: var(--main-font);
    font-weight: 700;
}

.jewellery_price {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.delivery_included {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
}

.jewellery_stock {
    color: limegreen;
    font-weight: bold;
}

.jewellery_buy_button button {
    background-color: var(--deep-purple);
    height: 2.5rem;
    width: 13rem;
    border: none;
    color: white;
    border-radius: 10px;
}

.jewellery_buy_button button:hover {
    background-color: var(--teal);
}
 
.jewellery_wishlist--add {
    font-size: .8rem;
    padding-left: 2.5rem;
    color: var(--deep-purple);
    text-decoration: underline;
}

.fa-heart {
    color: var(--deep-purple);
}

h4.jewellery_description--header {
    font-family: var(--main-font);
    font-size: 1.5rem;
    font-weight: 700;
}

/* .jewellery_description--body {
} */

/* MATERIALS USED AND SYMBOLISM */

.materials_grid {
    margin-bottom: 3rem;
}

.materials_grid--header {
    font-family: var(--main-font);
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.materials_grid--body {
    display: grid;
    grid-template-columns: repeat(3, 18rem);
    justify-content: space-around;
}

.materials_grid--item {
    display: grid;
    grid-template-columns: 3rem 1fr;
    grid-gap: .5rem;
}

.materials_grid--icon {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.materials_grid--text-header {
    font-size: 2rem;
    font-weight: 700;
    color: var(--deep-purple);
    margin-bottom: 0;
    font-family: var(--main-font);
}

.materials_grid--text-body {
    font-family: var(--bs-font-sans-serif);
}

/* WHITE FEATHER JEWELLERY BIO */

.white_feather_bio {
    margin-bottom: 3rem;
}

.white_feather_bio--header {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    font-family: var(--main-font);
}

.white_feather_bio--body {
    display: grid;
    grid-template-columns: 35rem auto;
    justify-content: center;
    grid-gap: 5rem;
    font-family: var(--bs-font-sans-serif);
}

.white_feather_bio--icon {
    align-self: center;
}

.white_feather_bio--icon img {
    height: 18rem;
}

/* SIMILAR ITEMS */

.similar_items-header {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    font-family: var(--main-font);
}

.similar_items--grid {
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    justify-content: space-around;
    grid-gap: 3rem;
    text-align: center;
    margin: 1rem 5rem 3rem;
}

@media (max-width: 1024px) {
    #jewellery__hero_div {
        margin-bottom: 2rem;
    }
    
    .indian_woman--img-overlay {
        background-position: 0% 90%;
    }
    
    h2 {
        font-size: 3rem;
    }

    /* CONTENT DIVS */

    .jewellery_item_div {
        display: grid;
        grid-template-columns: repeat(3, 18rem);
        justify-content: space-around;
        grid-gap: 3rem;
        text-align: center;
        margin: 3rem 5rem;
    }

    .jewellery_item {
        width: 18rem;
        height: 27rem;
    }

    /* TREATMENT AND AWARENESS LINKs */

    .treatments_link,
    .awareness_link {
        height: 20rem;
    }

    .treatments_text--body {
        margin: 0 16rem;
    }

    .awareness_text--body {
        margin: 0 12rem;
    }

    /* SHOW PAGES */

    .jewellery_show--wrapper {
        margin: 0 2rem;
    }
    
    .back_to_jewellery {
        padding: 1rem 0;
    }
    
    .jewellery_content_main {
        grid-template-columns: auto 30rem;
        margin-bottom: 2rem;
    }
    
    .jewellery_content_main--section-1 {
        display: grid;
        grid-template-columns: repeat(16, 1.6rem);
        grid-template-rows: repeat(13, 1.6rem);
        grid-gap: .2rem;
    }
    
    .thumb_image {
        height: 5rem;
        width: 5rem;
    }
    
    .share_item {
        grid-column: 1 / 4;
        grid-row: -3 / -1;
    }
    
    /* .jewellery_content_main--section-2 {
    
    } */
    
    h1.jewellery_title {
        font-size: 2.5rem;
    }
    
    h2.jewellery_type {
        font-size: 1.5rem;
    }
    
    .jewellery_price {
        font-size: 1.2rem;
    }
    
    .delivery_included {
        font-size: .8rem;
    }
    
    h4.jewellery_description--header {
        font-size: 1.2rem;
    }
    
    /* .jewellery_description--body {
    } */
    
    /* MATERIALS USED AND SYMBOLISM */
    
    .materials_grid {
        margin-bottom: 2rem;
    }
    
    /* SIMILAR ITEMS */
    
    .similar_items--grid {
        display: grid;
        grid-template-columns: repeat(3, 18rem);
        justify-content: space-around;
        grid-gap: 3rem;
        text-align: center;
        margin: 3rem 5rem;
    }

}

@media only screen and (max-width: 768px) {
        /* HERO DIV */
    #jewellery__hero_div {
        margin-bottom: 1rem;
    }

    .indian_woman--img-overlay {
        background-size: 22rem;
        background-position: -10% 90%;
    }

    .hero_infobar--grid {
        grid-template-columns: repeat(2, 22rem);
        grid-gap: 2rem;
    }

    

    .hero_infobar--grid-item-icon {
        grid-template-rows: 3rem 1fr;
    }

    .grid_item--icon {
        height: 3rem;
    }

    .hero_grid {
        grid-template-columns: repeat(3, 12rem);
        grid-template-rows: 12rem;
        grid-gap: 3rem;
    }

    .overlay {
        top: .5rem;
        left: 1.5rem;
        height: 9.2rem;
        width: 9.2rem;
    }

    .hero_grid--item-content {
        font-size: 1.3rem;
    }

    h2 {
        font-size: 3rem;
    }

    /* CONTENT DIVS */

    .jewellery_item_div {
        display: grid;
        grid-template-columns: repeat(3, 14rem);
        grid-gap: 1rem;
        text-align: center;
        margin: 2rem 0;
        padding: 0 1rem;
    }

    .jewellery_item {
        width: 14rem;
        height: 22.5rem;
    }

    h5 {
        font-size: 1.5rem;
    }

    .jewellery_item p {
        font-size: 1rem;
    }

    /* TREATMENT AND AWARENESS LINKs */

    .treatments_link,
    .awareness_link {
        height: 15rem;
    }

    h4 {
        font-size: 2rem;
    }

    .treatments_text--body {
        margin: 0 5rem;
        font-size: 1.5rem;
    }

    .awareness_text--body {
        margin: 0 5rem;
        font-size: 1.5rem;
    }

    /* SHOW PAGES */
    
    .jewellery_content_main {
        grid-template-columns: auto 24rem;
        grid-gap: 1rem;
        margin-bottom: 2rem;
    }
    
    .jewellery_content_main--section-1 {
        display: grid;
        grid-template-columns: repeat(16, 1.2rem);
        grid-template-rows: repeat(13, 1.2rem);
        grid-gap: .1rem;
    }
    
    .thumb_image {
        height: 3.5rem;
        width: 3.5rem;
    }
    /* .jewellery_content_main--section-2 {
    
    } */
    
    h1.jewellery_title {
        font-size: 1.5rem;
    }
    
    h2.jewellery_type {
        font-size: 1.2rem;
    }
    
    .jewellery_price {
        font-size: 1rem;
    }
    
    .delivery_included {
        font-size: .7rem;
    }
    
    h4.jewellery_description--header {
        font-size: 1rem;
    }
    
    .jewellery_description--body {
        font-size: 0.8rem;
    }
    
    /* MATERIALS USED AND SYMBOLISM */
    .materials_grid {
        margin-bottom: 1rem;
    }

    
    .materials_grid--body {
        display: grid;
        grid-template-columns: repeat(3, 16rem);
        justify-content: space-around;
    }
    
    .materials_grid--text-header {
        font-size: 1.5rem;
        margin-bottom: 0;
    }
    
    .materials_grid--text-body {
        font-size: .8rem;
    }
    
    /* WHITE FEATHER JEWELLERY BIO */
    
    .white_feather_bio {
        margin-bottom: 1rem;
    }
    
    .white_feather_bio--header {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    
    .white_feather_bio--body {
        display: grid;
        grid-template-columns: 25rem auto;
        justify-content: center;
        grid-gap: 5rem;
        font-family: var(--bs-font-sans-serif);
        font-size: 0.8rem;
    }
    
    .white_feather_bio--icon {
        align-self: center;
    }
    
    .white_feather_bio--icon img {
        height: 14rem;
    }
    
    /* SIMILAR ITEMS */
    
    .similar_items-header {
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 2rem;
        font-family: var(--main-font);
    }
    
    .similar_items--grid {
        display: grid;
        grid-template-columns: repeat(3, 13rem);
        grid-gap: 2rem;
        text-align: center;
        margin: 1rem;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 480px) {
    body {
        max-width: 480px;
        /* overflow-x: hidden; */
        margin: 0;
    }

    /* HERO DIV */
    .hero_header {
        height: 15rem;
    }
    
    .indian_woman--img-overlay {
        background-size: 20rem;
        background-position: -60% 80%;
    }
    
    .hero_header--icon {
        margin-top: 1rem;
    }
    
    .hero_header--icon img {
        width: 6rem;
    }
    
    .hero_header--text {
        font-size: 1.5rem;
        margin-top: 2rem;
        padding: 1rem 1rem 0rem 1rem;
    }
    
    @keyframes down {
        to {
            height: 26rem;
        }
    }
    
    .hero_infobar.active {
        height: 26rem;
    }
    
    .hero_infobar--grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 0;
        margin-top: 1rem;
    }
    
    .hero_infobar--grid-item-icon {
        grid-template-rows: 2rem 1fr;
        grid-gap: 1rem;
    }

    .grid_item--icon {
        height: 2rem;
    }

    .hero_infobar--grid-item-text {
        padding: 0 2rem;
        font-size: .8rem;
        text-align: center;
    }

    .hero_grid {
        display: none;
    }

    .hero_grid_mobile {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: 8rem;
        justify-content: space-around;
        padding: 0 1rem;
    }

    .hero_grid_mobile--item {
        display: grid;
        justify-content: center;
        margin-top: 1rem;
    }

    .hero_grid_mobile--item-icon {
        display: grid;
        justify-content: center;
    }

    .hero_grid_mobile--item-icon img {
        height: 3.5rem;
    }

    .mobile--shipping-icon img {
        height: 3rem;
    }

    .hero_grid_mobile--item-text {
        font-size: 1.4rem;
        text-align: center;
        font-weight: 700;
        color: var(--deep-purple);
    }

    .jewellery_collection {
        display: none;
    }

    /* CONTENT DIVS */

    .jewellery_item_div {
        grid-template-columns: repeat(2, 10rem);
        grid-gap: 1rem;
        margin: 2rem 1rem;
    }

    .jewellery_item {
        width: 10rem;
        height: 16.5rem;
    }

    h5 {
        font-size: 1.2rem;
    }

    .jewellery_item p {
        font-size: .8rem;
        margin-bottom: 0.1rem;
    }

    .jewellery_item--button button {
        height: 1.5rem;
        width: 4rem;
        font-size: 0.8rem;
    }

    /* TREATMENT AND AWARENESS LINKs */

    .treatments_link,
    .awareness_link {
        height: auto;
        background-position: center;
        background-size: cover;
        padding: 2rem 1rem;
    }

    h4 {
        font-size: 2rem;
    }

    .treatments_text--body {
        margin: 0;
        font-size: 1.5rem;
    }

    .awareness_text--body {
        margin: 0;
        font-size: 1.5rem;
    }

    /* ##################### */
    /*       SHOW PAGE       */
    /* ##################### */

    .jewellery_show--wrapper {
        margin: 0;
    }

    .back_to_jewellery {
        padding: 1rem;
    }

    .back_to_jewellery a {
        font-size: 1rem;
    }

    .jewellery_content_main {
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows:  20rem 1fr;
        margin-bottom: 1rem;
    }

    .jewellery_content_main--section-1 {
        display: block;
        height: 20rem;
        text-align: center;
    }

    .thumb_image {
        display: none;
    }

    .share_item {
        display: none;
    }

    .main_image {
        max-width: 90%;
    }

    .jewellery_content_main--section-2 {
        text-align: center;
        margin-top: 1rem;
    }

    h1.jewellery_title {
        font-size: 2rem;
    }
    
    h2.jewellery_type {
        font-size: 1.5rem;
    }
    
    .jewellery_price {
        font-size: 1.2rem;
    }
    
    .delivery_included {
        font-size: .8rem;
    }
    /* .jewellery_description--body {
    } */

    .jewellery_description {
        text-align: start;
        padding: 0 1rem;
    }

    .jewellery_wishlist--add {
        padding-left: 0;
    }

    /* MATERIALS USED AND SYMBOLISM */

    .materials_grid {
        margin-bottom: 1rem;
    }

    .materials_grid--body {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        padding: 0 .5rem;
    }
    
    .materials_grid--icon {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
    }
    
    .materials_grid--text-header {
        font-size: 1.5rem;
    }
    
    .materials_grid--text-body {
        font-size: 0.8rem;
    }

    /* WHITE FEATHER JEWELLERY BIO */

    .white_feather_bio {
        margin-bottom: 1rem;
    }

    .white_feather_bio--header {
        margin-bottom: 0;
    }

    .white_feather_bio--body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-gap: 1rem;
    }

    .white_feather_bio--text {
        padding: 0 1rem;
        grid-row: 2 / -1;
    }

    .white_feather_bio--icon{
        text-align: center;   
    }

    .white_feather_bio--icon img {
        height: 10rem;
    }

    /* SIMILAR ITEMS */

    .similar_items--grid {
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: space-around;
        grid-gap: 1rem;
        text-align: center;
        margin: 2rem 1rem;
    }
}

@media only screen and (max-width: 320px) {
    body {
        max-width: 320px;
        /* overflow-x: hidden; */
        margin: 0;
    }

    /* HERO DIV */
    .hero_header {
        height: 15rem;
    }
    
    .indian_woman--img-overlay {
        background-size: 18rem;
        background-position: -90% 90%;
    }
    
    
    .hero_header--text {
        font-size: 1.2rem;
    }
    
    @keyframes down {
        to {
            height: 28rem;
        }
    }
    
    .hero_infobar.active {
        height: 28rem;
    }

    .hero_grid_mobile--item-text {
        font-size: 1.2rem;
    }

    /* ##################### */
    /*       SHOW PAGE       */
    /* ##################### */

    .jewellery_content_main {
        grid-template-rows:  18rem 1fr;
    }

    .jewellery_content_main--section-1 {
        height: 18rem;
    }

    .jewellery_content_main--section-2 {
        margin-top: 0;
    }

    /* MATERIALS USED AND SYMBOLISM */

    .materials_grid--body {
        grid-template-columns: 1fr;
    }

}
