/* VARIABLES */
:root {
    /* Fonts */
    --main-font: 'Amatic SC', cursive;
    --secondary-font: "Open Sans";
    /* --bs-font-sans-serif */

    /* Colours */
    --off-white: #F8F8FF;
    --crystal-cream: #f7e6ca;
    --teal: #42b4b5;
    --light-purple: #865e9c;
    --deep-purple: #602f78;
    --off-black: #060606;

    /*  Text Shadow */
    --main-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

* {
    box-sizing: border-box;
}

/* GENERAL TAGS */
body {
    max-width: 1380px;
    margin: 0 auto;
}

button,
.nav-link {
    font-family: var(--bs-font-sans-serif);
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white; 
}

button:focus {
    outline: 0;
}

.hide {
    display: none !important;
}

.wrapper {
    margin: 0 5rem;
}

.progress {
    background: linear-gradient(to right, var(--deep-purple) var(--scroll), transparent 0);
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    border-radius: 0;
    height: .5rem;
    z-index: 1;
  }

/* BACK TO TOP */

#back-to-top {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    z-index: 99;
    border: 1px solid var(--deep-purple);
    outline: none;
    background-color: white;
    color: var(--deep-purple); 
    cursor: pointer; 
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 50%; 
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
}
  
#back-to-top:hover {
    background-color: var(--deep-purple);
    color: white;
    border: none;
    transform: scale(1.05);
}

.fa-long-arrow-alt-up {
    font-size: 1.2rem;
    margin-bottom: 0;
}

/* NAVBAR */

a.navbar-brand {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--main-font);
    padding-bottom: 0 !important;
}

a.black-brand {
    color: var(--off-black) !important;
}

.navbar_black_text a {
    color: grey !important;
}

.navbar_black_text a:hover {
    color: var(--off-black) !important;
}

.navbar_black.background-color {
    background-color: white;
    transition: all .2s ease;
}

.navbar_white.background-color {
    background-color: var(--deep-purple);
    transition: all .2s ease;
}

/* MOBILE PADDING */

.navbar_top_padding {
    padding-top: 3rem;
}

/* FOOTER */

#footer_div {
    height: 20rem;
    margin-top: auto;
    width: 100%;
    background-color: var(--off-black);
    color: white;
    display: grid;
    justify-content: center;
    text-align: center;
}

.social_links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin-top: 2rem;
}

.social_link {
    margin: 0 2rem;
    font-size: 2rem;
}

.facebook-bottom:hover {
    color: #4267B2;
}

.instagram-bottom:hover {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.twitter-bottom:hover {
    color: #1DA1F2;
}

h6 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    font-family: var(--main-font);
}

.contact_link--button button {
    background-color: var(--deep-purple);
    height: 2.5rem;
    width: 9rem;
    border: none;
    color: white;
    border-radius: 10px;
}

.contact_link--button button:hover {
    background-color: var(--teal);
}

/* REGISTER/LOGIN */

.register_login_div {
    margin: 1rem;
    padding: 1rem;
}

.register_login_div h1, 
.register_login_button {
    text-align: center;
}

/* FLASH MESSAGES */
.alert-dismissible {
    margin-bottom: 0;
}

.flash_message {
    font-family: var(--bs-font-sans-serif);
    margin: 0;
}

/* ERROR PAGE */
.alert-danger {
    text-align: center;
    word-wrap: break-word;
}

h4.alert-heading {
    font-family: var(--bs-font-sans-serif);
}

.alert-stack {
    text-align: start;
}

@media (max-width: 1024px)
and (min-height: 1000px) {
    .navbar {
        display: none;
    }
}


@media (max-width: 1024px)
and (max-height: 1000px) {
    body {
        max-width: 1024px;
        overflow-x: hidden;
        margin: 0;
    }

    .navbar_top_padding {
        padding-top: 3rem;
    }

    #footer_div {
        height: 15rem;
    }
    
    .social_links {
        margin-top: 2rem;
    }
    
    h6 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
}

@media (max-width: 1000px) {
    .navbar {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    body {
        max-width: 768px;
        overflow-x: hidden;
        margin: 0;
    }

    #footer_div {
        height: 12rem;
    }
    
    .social_links {
        margin-top: 1.5rem;
    }
    
    .social_link {
        font-size: 1.8rem;
    }

    h6 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 480px) {
    body {
        max-width: 480px;
        overflow-x: hidden;
        margin: 0;
    }
}