/* TREATMENT SHOW PAGES */

/* ENERGY TREATMENT SHOW PAGE */
.energy_treatment_div {
    background-image: url("/assets/images/treatments-bg.png");
    background-position: 0 60%;
    background-size: cover;
}

/* Treatment show hero div */
.treatment_item_hero_div {
    height: 20rem;  
    display: grid;
    grid-template-rows:  auto auto 1fr;
    color: white;
}

.treatment_item_hero--header {
    text-align: center;
    margin-top: 4rem;
}

.treatment_item_hero--header h1 {
    font-size: 3.5rem;
    font-weight: 700;
    text-shadow: var(--main-shadow);
    font-family: var(--main-font);
}

.treatment_item_hero--header h3 {
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow: var(--main-shadow);
    font-family: var(--main-font);
}

/*  Treatment hero main */

.treatment_item_wrapper {
    margin: 0 5rem;
    padding: 1rem 0;
}

/*  Main div 1 */
.treatment_item_main_div {
    padding: 0 5rem;
}

.treatment_main--header {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    padding: 0 5rem;
    border-bottom: 1px solid grey;
    margin: 1rem 0 2rem;
}

.treatment_main--grid_1 {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-gap: 1rem;
    margin: 3rem 0;
}

.grid_1--left--p1 {
    margin-bottom: 0.5rem;
}

.treatment_main--grid_2 {
    display: grid;
    grid-template-columns: repeat(3, 21rem);
    justify-content: space-between;
    margin: 3rem 0;
}

.treatment_grid--image {
    max-height: 100%;
    max-width: 100%;
}

.treatment_main--grid_3,
.treatment_main--grid_4 {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    margin: 3rem 0;
}

.treatment_side--image {
    height: 30rem;
}

.treatment_main--grid_3 h4,
.treatment_main--grid_4 h4 {
    font-size: 2.3rem;
    text-align: center;
    margin-bottom: 1rem;
}

.grid_3--left,
.grid_4--right {
    width: 30rem;
}

/* PRICING GRID COMPONENT */

.price_component_header {
    text-align: center;
    margin-bottom: 2rem;
}

.price_component_grid--header h6, 
.price_component_grid--header h5 {
    font-family: var(--bs-font-sans-serif);
}

.grid_component_grid {
    display: grid;
    grid-template-columns: 25rem 25rem;
    justify-content: center;
    grid-gap: 1rem;
    font-family: var(--bs-font-sans-serif);
    font-size: 1.2rem;
    text-align: center;
}

.price_component_grid--item {
    border-radius: 5px;
}

.treatment_price_component--energy-treatment .price_component_grid--header {
    background: rgb(96,47,120);
    background: linear-gradient(126deg, rgba(96,47,120,1) 31%, rgba(134,94,156,1) 100%);
}

.treatment_price_component--absentee-treatment .price_component_grid--header {
    background: rgb(66,180,181);
    background: linear-gradient(126deg, rgba(66,180,181,1) 31%, rgba(134,94,156,1) 100%);
}

.price_component_grid--header {
    color: white;
    border-radius: 5px 5px 0 0;
}

.price_component_grid--header-title h6 {
    font-size: 1.4rem;
    padding-top: 1rem;
    margin-bottom: 0;
    text-shadow: var(--main-shadow);
}

.price_component_grid--header-price {
    display: grid;
}

.price_component_grid--header-price h5 {
    font-size: 3rem;
    text-shadow: var(--main-shadow);
    padding: 1rem;
}

.currency_small {
    font-size: 1.5rem;
    vertical-align: super;
    padding-right: .2rem;
}

.price_component_grid--item-location {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 2rem;
    justify-content: center;
    grid-gap: 1rem;
}

.price_component_grid--item-location-text {
    font-size: 1rem;
    font-weight: 400;
}

.price_component_grid--button {
    margin: 1rem auto;
}

.price_component_grid--button button {
    background-color: var(--deep-purple);
    height: 2.5rem;
    width: 9rem;
    border: none;
    color: white;
    border-radius: 10px;
}

.price_component_grid--button button:hover {
    background-color: var(--teal);
}

/* TREATMENT ORDER PAGE */
.treatment--back_to_treatments {
    margin-top: 4rem;
}

.treatment--back_to_treatments a {
    color: var(--deep-purple);
    font-family: var(--bs-font-sans-serif);
}

.treatment_order_div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem auto;
    justify-content: center;
    padding: 1rem;
}

.treatment--form_submit {
    height: 2.5rem;
    width: 13rem;
    border: none;
    color: white;
    border-radius: 10px;
    background-color: var(--deep-purple);
}

.treatment--form_submit:hover {
    background-color: var(--teal);
}

.treatment--review_order {
    margin: 5rem auto;
    justify-content: center;
    padding: 1rem;
    text-align: center;
}

.review--label {
    font-size: 0.8rem;
}


@media (max-width: 1024px)
and (max-height: 999px) {
    .treatments_hero_header {
        margin: 0 auto;
        padding: 1rem 4rem;
    }

    .treatments_hero_header h1 {
        margin-bottom: 1rem;
    }

    .treatments_hero_grid {
        margin-top: 2rem;
    }
}

/* IPADS */
@media (max-width: 1024px)
and (min-height: 1000px) {
    .treatments_hero_div {
        height: 100vh;
        padding-bottom: 0;
    }
    
    .treatments_hero_header {
        margin: 0 auto;
        padding: 3rem 5rem;
    }
    
    .treatments_hero_header h1 {
        margin-bottom: 1rem;
        font-size: 4rem;
    }

    .treatments_hero_header h3 {
        font-size: 3.2rem;
    }
    
    .treatments_hero_grid {
        grid-template-columns:  auto;
        grid-template-rows:  28rem 28rem;
        grid-gap: 5rem;
    }
    
    .treatments_hero_grid--item {
        height: 28rem;
        width: 28rem;
    }

    h4.treatments_hero_grid--item-header-1 {
        background-color: var(--deep-purple);
        color: white;
        text-shadow: var(--main-shadow);
        border-radius: 4px 4px 0 0;
    }
    
    h4.treatments_hero_grid--item-header-2 {
        background-color: var(--teal);
        color: white;
        text-shadow: var(--main-shadow);
        border-radius: 4px 4px 0 0;
    }
    
    
    h4.treatments_hero_grid--item-header {
        padding-top: 2rem;
        font-size: 3.5rem;

    }
    
    .treatments_hero_grid--item p {
        margin-bottom: 0;
    }
    
    .treatments_hero_grid--item-body {
        font-size: 2rem;
    }
    
    .treatments_hero_grid--item-location-text {
        font-size: 1.5rem;
    }

    /* TREATMENT SHOW PAGES */


    /* Treatment show hero div */
    .treatment_item_hero_div {
        height: 20rem;
    }


    /* PRICING GRID COMPONENT */


    .grid_component_grid {
        grid-template-columns: repeat(3, 20rem);
    }

}


@media (max-width: 768px)
and (max-height: 999px) {

}

/* TABLETS */
@media only screen and (max-width: 768px) 
and (min-height: 1000px) {
    .treatments_hero_div {
        height: 100vh;
        padding-bottom: 0;
    }
    
    .treatments_hero_header {
        margin: 0 auto;
        padding: 2rem 1rem;
    }
    
    .treatments_hero_header h1 {
        margin-bottom: .5rem;
    }
    
    .treatments_hero_grid {
        grid-template-rows:  21rem 21rem;
        grid-gap: 3rem;
    }
    
    .treatments_hero_grid--item {
        height: 21rem;
        width: 21rem;
    }
    
    
    h4.treatments_hero_grid--item-header {
        padding-top: 1rem;
        font-size: 3rem;

    }
    
    .treatments_hero_grid--item-body {
        font-size: 1.5rem;
    }
    
    .treatments_hero_grid--item-location-text {
        font-size: 1rem;
    }

    /* TREATMENT SHOW PAGES */

    /* Treatment show hero div */
    .treatment_item_hero_div {
        height: 18rem;
    }

    /* PRICING GRID COMPONENT */
    .grid_component_grid {
        grid-template-columns: repeat(3, 15rem);
    }

}

@media only screen and (max-width: 480px) {
    .treatments_hero_header {
        margin: 0 auto;
        padding: 1rem 2rem 0;
    }

    .treatments_hero_header h1 {
        font-size: 2rem;
    }
    
    .treatments_hero_header h3 {
        font-size: 1.5rem;
    }
    
    .treatments_hero_grid {
        grid-template-columns:  17rem;
        grid-template-rows:  13.5rem 13.5rem;
        grid-gap: 2rem;
    }
    
    .treatments_hero_grid--item {
        background-color: var(--off-white); 
        color: var(--off-black);
        font-family: var(--bs-font-sans-serif);
        height: 13.5rem;
        display: grid;
        border-radius: 5px;
    }
    
    h4.treatments_hero_grid--item-header-1 {
        background-color: var(--deep-purple);
        color: white;
        text-shadow: var(--main-shadow);
        border-radius: 4px 4px 0 0;
    }
    
    h4.treatments_hero_grid--item-header-2 {
        background-color: var(--teal);
        color: white;
        text-shadow: var(--main-shadow);
        border-radius: 4px 4px 0 0;
    }

    .treatments_hero_grid--item-body {
        font-size: 1rem;
    }
    
    .treatments_hero_grid--item-location {

        grid-gap: .5rem;
    }

    .treatments_hero_grid--item-location-icon {
        width: .7rem;
    }
    
    .treatments_hero_grid--item-location-text {
        font-size: .8rem;
    }
    
    .treatments_hero_grid--item-button button {
        background-color: white;
        border: 1px solid var(--deep-purple);
        color: var(--deep-purple);
        height: 2rem;
        width: 7rem;
        border-radius: 10px;
        font-size: .8rem;
        font-weight: 700;
    }

    .treatments_hero_grid--item-button button:hover {
        background-color: var(--deep-purple);
        border: none;
        color: white;
    }

    /* TREATMENT SHOW PAGES */

    /* Treatment show hero div */
    .treatment_item_hero_div {
        height: 13rem;  
    }

    .back_to_treatments {
        padding: 0 1rem;
    }

    .back_to_treatments a {
        font-size: 0.8rem;
    }

    .treatment_item_hero--header {
        margin-top: 1rem;
    }

    .treatment_item_hero--header h1 {
        font-size: 2.5rem;
    }

    .treatment_item_hero--header h3 {
        font-size: 1.5rem;
    }

    /*  Treatment hero main */

    .treatment_item_wrapper {
        margin: 0 1rem;
        padding: 1rem 0;
    }

    /*  Main div 1 */
    .treatment_item_main_div {
        font-family: var(--bs-font-sans-serif);
        display: grid;
        grid-gap: 0;
        grid-template-columns:  1fr;
    }

    .grid_section_1--header-paragraph {
        font-size: 1.5rem;
    }

    .grid_section_1--body,
    .grid_section_1--treatment-process-body,
    .grid_section_2--pre-treatment-body {
        font-size: 1rem;
    }

    .grid_section_1--treatment-process-header {
        margin: 2rem 0;
    }


    .treatment_item_main_grid--section-2 {
        display: grid;
        grid-template-columns:  1fr;
        grid-template-rows:  auto auto 1fr;
    }

    .treatment_item_wrapper img {
        padding-bottom: 2rem;
        max-width: 100%;
    }

    /* PRICING GRID COMPONENT */

    .grid_component_grid {
        grid-template-columns: 20rem;
        grid-template-rows:  22rem 22rem 22rem;
        grid-gap: 1rem;
        font-size: 1rem;
    }

    .price_component_grid--header-title h6 {
        font-size: 1rem;
        padding-top: 1rem;
    }

    .price_component_grid--header-price h5 {
        font-size: 2rem;
        padding: .5rem;
    }

    .currency_small {
        font-size: 1rem;
    }

    .price_component_grid--item-location {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 1rem;
        justify-content: center;
        grid-gap: .5rem;
    }

    .price_component_grid--item-location-icon {
        width: .9rem;
    }

    .price_component_grid--item-location-text {
        font-size: 1rem;
    }

    .price_component_grid--button {
        margin: 0 auto;
        padding-top: 1rem;
    }

    /* TREATMENT LINK */

    .treatment_link {
        height: 4rem;
    }

    .treatment_link--content {
        padding: .5rem;
    }

    .treatment_link--text p {
        font-size: 1rem;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 480px) 
and (max-height: 700px) {
    .treatments_hero_header {
        padding: 1rem 2rem 0.5rem;
    }

    .treatments_hero_header h1 {
        margin-bottom: 0;
    }
    
    .treatments_hero_grid {
        grid-template-columns:  13rem;
        grid-template-rows:  13rem 13rem;
        grid-gap: 1rem;
        margin-top: 0.5rem;
    }
    
    .treatments_hero_grid--item {
        height: 13rem;
    }

    .treatments_hero_grid--item-body {
        font-size: 1rem;
    }
    
    .treatments_hero_grid--item-location {
        grid-gap: .5rem;
    }

    .treatments_hero_grid--item-location-icon {
        width: .7rem;
    }
    
    .treatments_hero_grid--item-location-text {
        font-size: .8rem;
    }
}

@media only screen and (max-width: 320px) {
    .treatments_hero_header {
        padding: 0rem 1rem 0rem;
    }

    .treatments_hero_header h1 {
        font-size: 2rem;
    }
    
    .treatments_hero_header h3 {
        font-size: 1.2rem;
    }
    
    .treatments_hero_grid {
        grid-template-columns:  11rem;
        grid-template-rows:  11rem 11rem;
        grid-gap: 1rem;
        margin-top: 0.5rem;
    }
    
    .treatments_hero_grid--item {
        height: 11rem;
    }

    h4.treatments_hero_grid--item-header {
        padding-top: 0.5rem;
        font-size: 1.5rem;
    }

    .treatments_hero_grid--item-body {
        font-size: .9rem;
    }
    
    .treatments_hero_grid--item-location {
        grid-gap: .5rem;
    }

    .treatments_hero_grid--item-location-icon {
        width: .7rem;
    }
    
    .treatments_hero_grid--item-location-text {
        font-size: .6rem;
    }
    
    .treatments_hero_grid--item-button button {
        height: 1.5rem;
        width: 5rem;
        font-size: .7rem;
    } 
}