<% layout('layouts/boilerplate')%>

<%- include('../../partials/navbarBlack')%>

<div class="links_wrapper">
    <div class="links_header_div">
        <h1>Links</h1>
        <h3>Our favourite sites</h3>
    </div>

    <div class="links_grid_div">

        <div class="links_grid_item shadow">
            <div class="card border-light">
                <img class="img-fluid link_item--image" alt="Link image" src="./images/links/broken-arrow.jpg">
                    <div class="card-body">
                        <h5 class="card-title link_item--title">Broken Arrow Healing</h5>
                        <p class="card-text link_item--text">Christy Coote, a true healer from the Heart.<br>
                            Shamanic, Energy Healer, Co. Clare</p>
                        <a class="link_item--button" href="http://brokenarrowhealing.net/">
                            <button>Visit</button>
                        </a>
                    </div>
            </div>
        </div>

        <div class="links_grid_item shadow">
            <div class="card border-light">
                <img class="img-fluid link_item--image" alt="Link image" src="./images/links/angel-times.jpg">
                    <div class="card-body">
                        <h5 class="card-title link_item--title">Angel Times</h5>
                        <p class="card-text link_item--text">Angel Times Limerick and Ennis Co.Clare. An amazing Holistic center and shop.</p>
                        <a class="link_item--button" href="http://www.angeltimes.ie/">
                            <button>Visit</button>
                        </a>
                    </div>
            </div>
        </div>
        
        <div class="links_grid_item shadow">
            <div class="card border-light">
                <img class="img-fluid link_item--image image-top" alt="Link image" src="./images/links/sacred-sites.jpg">
                    <div class="card-body">
                        <h5 class="card-title link_item--title">Sacred Sites of Ireland</h5>
                        <p class="card-text link_item--text">For Knowledge, Information and Workshops, a must see site for all those with a love for our Irish Heritage and Legends.</p>
                        <a class="link_item--button" href="https://www.sacredsites.ie/">
                            <button>Visit</button>
                        </a>
                    </div>
            </div>
        </div>

        <div class="links_grid_item shadow">
            <div class="card border-light">
                <img class="img-fluid link_item--image" alt="Link image" src="./images/links/signposts.jpg">
                    <div class="card-body">
                        <h5 class="card-title link_item--title">Signposts from the Soul</h5>
                        <p class="card-text link_item--text">Julianna Jay an incredible 'Spirit Scribe' channels in written format, sharing information from your Soul on your Life's Purpose and unfolding your full potential.</p>
                        <a class="link_item--button" href="https://signpostsfromthesoul.com/">
                            <button>Visit</button>
                        </a>
                    </div>
            </div>
        </div>

        <div class="links_grid_item shadow">
            <div class="card border-light">
                <img class="img-fluid link_item--image" alt="Link image" src="./images/links/clare-kayak.jpg">
                    <div class="card-body">
                        <h5 class="card-title link_item--title">Clare Kayak Hire</h5>
                        <p class="card-text link_item--text">Kayak Canoe Stand up Paddle, Hire and Lessons. All gear provided. Treat your Spirit to the great outdoors!!!</p>
                        <a class="link_item--button" href="http://www.clarekayakhire.com/">
                            <button>Visit</button>
                        </a>
                    </div>
            </div>
        </div>


    </div>


</div>
