<% layout('layouts/boilerplate')%>

    <h1>Welcome to Sacred Tribe Energy Healing</h1>

    <div>
        <p><a href="/jewellery">Jewellery</a></p>
    </div>
    
    <div>
        <p><a href="/treatments">Treaments</a></p>
    </div>

    <div>
        <p><a href="/awareness">Awareness</a></p>
    </div>

    <div>
        <p><a href="/blogs">Blogs</a></p>
    </div>

    <div>
        <p><a href="/about">About</a></p>
    </div>

    <div>
        <p><a href="/contact">Contact</a></p>
    </div>
