<% layout('layouts/boilerplate')%>



<div class="message_popup">
  <button id="modalButton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"></button>
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Message Sent!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Message successfully sent, we'll get back to you as soon as we can.
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../../partials/navbarBlack')%>

<%- include('../../partials/sideNavbarBlack')%>

<div class="navbar_top_padding">

<div class="wrapper contact_wrapper">

    <div class="contact_header">
        <h1>Contact</h1>
    </div>

    <div class="social_div">
        <h2>Find us on social media</h2>

        <div class="social_media_grid">
            <div class="social_media--link facebook"><a href="#"><i class="fab fa-facebook"></i></a></div>
            <div class="social_media--link instagram"><a href="#"><i class="fab fa-instagram"></i></a></div>
            <div class="social_media--link twitter"><a href="#"><i class="fab fa-twitter"></i></a></div>
        </div>
    </div>

    <div class="contact_form_div shadow">

        <div class="contact_form_grid">

            <div class="contact_form_grid--section-1 shadow">

                <div class="contact_form_grid--header">
                    <h3>Sacred Tribe Energy Healing</h3>
                </div>
                <div class="contact_form_grid--item contact_form_grid--address">
                    <img src="../../images/icons/location.svg" alt="Location icon">
                    <p>Jennifer Wilson,<br>Shannon, Co. Clare,<br>Ireland</p>
                </div>
                <div class="contact_form_grid--item contact_form_grid--email">
                    <img src="../../images/icons/email.svg" alt="Email icon">
                    <p>jenny@sacredtribe-energyhealing.com</p>
                </div>
                <div class="contact_form_grid--item contact_form_grid--phone">
                    <img src="../../images/icons/phone.svg" alt="Phone icon">
                    <p>(+353) 87 9361 919</p>
                </div>

            </div>


            <div class="contact_form_grid--section-2">

                <form class="contact_form validated-form" method="POST" action="/contact" enctype="multipart/form-data" novalidate>
                    <div class="form-group">
                      <label class="form-label" for="contact_name">Name: </label>
                      <input type="text" class="form-control" name="email[name]" id="contact_name" placeholder="Contact name" required>
                      <div class="valid-feedback">
                        Looks good!                                     
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-label" for="contact_email">Email: </label>
                      <input type="email" class="form-control" name="email[email]" id="contact_email" placeholder="Contact email" required>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="contact_subject">Subject: </label>
                        <input type="text" class="form-control" name="email[subject]" id="contact_subject" placeholder="Message subject" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                      </div>
                    <div class="form-group">
                        <label class="form-label" for="contact_message">Message: </label>
                        <textarea name="email[message]" id="contact_message" class="form-control" cols="100" rows="5" required>Please write your message here...</textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                      </div>
                    <button type="submit" class="contact_button">Submit</button>
                  </form>

            </div>

        </div>
    </div>

</div>
</div>
