<% layout('layouts/boilerplate')%>
    
 <div class="treatments_hero_div">

    <%- include('../../partials/navbarWhite')%>

    <%- include('../../partials/sideNavbarWhite')%>

    <div class="navbar_top_padding">


    <div class="treatments_hero_header">
        <h1 class="treatments_hero_header--title">Treatments</h1>
        <h3 class="treatments_hero_header--body">The euphoria experienced post-treatment is the perfect frequency for launching into the life you desire...</h3>
    </div>

    <div class="treatments_hero_grid">

        <div class="treatments_hero_grid--item treatments_hero_grid--1 shadow">
            <!-- <div class="treatments_hero_grid--top-bar treatments_hero_grid--top-bar-1"></div> -->
            <h4 class="treatments_hero_grid--item-header treatments_hero_grid--item-header-1">Energy Treatment</h4>
            <p class="treatments_hero_grid--item-body">Rebalance <br>
                Restore your energy <br>
                Reactivate your power</p>
            <!-- <p class="treatments_hero_grid--item-price">€70</p> -->
            <div class="treatments_hero_grid--item-location">
                <img src="./images/icons/location-teal.svg" alt="locations icon" class="treatments_hero_grid--item-location-icon">
                <p class="treatments_hero_grid--item-location-text">Shannon, Co. Clare, Ireland</p>
            </div>
            <div class="treatments_hero_grid--item-button">
                <a href="/treatments/energy-treatment">
                    <button class="energy-button">Read more</button>
                </a>
            </div>
        </div>
        
        <div class="treatments_hero_grid--item treatments_hero_grid--2 shadow">
            <!-- <div class="treatments_hero_grid--top-bar treatments_hero_grid--top-bar-2"></div> -->
            <h4 class="treatments_hero_grid--item-header treatments_hero_grid--item-header-2">Absentee Treatment</h4>
            <p class="treatments_hero_grid--item-body">For self or others <br>
                When one cannot <br>
                be present</p>
            <!-- <p class="treatments_hero_grid--item-price">€65</p> -->
            <div class="treatments_hero_grid--item-location">
                <img src="../images/icons/location-teal.svg" alt="locations icon" class="treatments_hero_grid--item-location-icon">
                <p class="treatments_hero_grid--item-location-text">Worldwide</p>
            </div>
            <div class="treatments_hero_grid--item-button">
                <a href="/treatments/absentee-treatment">
                    <button class="absentee-button">Read more</button>
                </a>
            </div>
        </div>

    </div>

 </div>

 </div>