<% layout('layouts/boilerplate')%>

    <h1>All Treatments</h1>
     
    <div>
        <h2>Energy Treatment</h2>
        <p><a href="/treatments/energy-treatment">Click here</a></p>
    </div>

    <div>
        <h2>Absentee Treatment</h2>
        <p><a href="/treatments/absentee-treatment">Click here</a></p>
    </div>

