<% layout('layouts/boilerplate')%>


<!-- HERO ELEMENT -->
<div class="treatment_item_hero_div energy_treatment_div">
    
    <%- include('../partials/navbarWhite')%>
    
    <%- include('../partials/sideNavbarWhite')%>
    
    <div class="navbar_top_padding">

    <div class="treatment_item_hero--header">
        <h1 class="treatment_item_hero--title">Energy Treatments</h1>
        <h3 class="treatment_item_hero--body">Rebalance - Restore your energy - Reactivate your power</h3>
    </div>
    </div>
</div>

<div class="treatment_item_wrapper">
    <!-- MAIN SECTION -->
    <div class="treatment_item_main_div">
        <div class="treatment_main--header">
            <p>The Euphoria Experienced Post-Treatment Is The Perfect Frequency For Launching Into The Life You Desire</p>
        </div>

        <div class="treatment_main--grid_1">
            <div class="grid_1--left">
                <p class="grid_1--left--p1">It is Spirit who dictates the treatment required, for treatments are unique to the individual based on their present frequency of personal energy and that of the frequency of their present 'intentions'. </p>
                
                <p>The energy fields surrounding the body are addressed and brought into balance individually.  The first being the energy level (the fuel station of the body),  releasing, clearing, energising and attuning the correct vibrational spin and frequency of the Chakras.</p>
            </div>
            <div class="grid_1--right">
                <p>Then the energy of the physical body, emotional body, mental body, intuitive body and purpose body are all cleared, restored, rebalanced and re-energised until they are emitting an energy flow from the body that projects outwardly at a minimum of three feet, feels light and flows without resistance when the hands are run through it. The cords linking each level is then cleared for optimal flow between them as all is connected and all levels affect the wellbeing of the others.</p>
            </div>
        </div>

        <div class="treatment_main--grid_2">
            <img class="treatment_grid--image" src="/assets/images/healing-room-1.jpg" alt="Treatment room image">
            <img class="treatment_grid--image" src="/assets/images/healing-room-2.jpg" alt="Treatment room image">
            <img class="treatment_grid--image" src="/assets/images/healing-room-3.jpg" alt="Treatment room image">
        </div>
        
        <div class="treatment_main--grid_3">
            <div class="grid_3--left">
                <div class="grid_3--left--header">
                    <h4>The Treatment Process</h4>
                </div>
                <div class="grid_3--left--p">
                    <p> My Spirit connects with the Spirit of the Client the day before their treatment, allowing the Client to feel more at ease and comfortable when he/she arrives. Any preliminary work such as grounding to release an overload of static energy or some clearing which needs to be done to allow the energy beneath it to rise to the surface to be dealt with during the process of the treatment etc, is done at this time. During this process the client's spirit gives me an indication of where the person is energetically in their life. The tools of awareness can be given that serve for the purpose of  self-responsibility, self-awareness and self-empowerment to recover or discover the lost self in one's own life.  It is important to note that once a request has been made for healing, plus the observation of one's state of energy being, it creates a shift in the frequency of energy being emitted and the healing process has already begun within you regardless of from whom one seeks help.</p>
                </div>
            </div>
            
            <div class="grid_3--right">
                <img class="treatment_side--image" src="/assets/images/healing-room-4.jpg" alt="Treatment room image">
            </div>
            
        </div>
        
        <div class="treatment_main--grid_4">
            <div class="grid_4--left">
                <img class="treatment_side--image" src="/assets/images/healing-room-5.jpg" alt="Treatment room image">
            </div>

            <div class="grid_4--right">
                <div class="grid_4--right--header">
                    <h4>Pre-Treatment Ritual</h4>
                </div>
                <div class="grid_4--right--p">
                    <p>Traditionally it is the role of the Shaman after consultation with the Client, to play the drum prior to treatment, either to provide a Journey Path for the Client to seek guidance and wisdom or to Journey themselves on the Client's behalf to seek same. </p>
            
                    <p>For the Client's journey path I have traded the drum for a cup of coffee, tea or water, because this is their time of empowerment. This is the time (always) when the 'sacred intentions' for a Client's treatment will make itself known, for often it is much more than the initial intent for which the client sought treatment. Intentions are based on the releasing of energies that no longer serve and replacing them with more positive choice frequencies of energy that better serve the client at this time and which they can maintain themselves by utilizing the tools of awareness, which they will be given as they arise.</p>            </div>
            </div>
        </div>
    </div>



    <!-- PRICE COMPONENT -->
    <div id="treatment-options" class="treatment_item_price_component">
        <div class="treatment_price_component--energy-treatment">
            <div class="price_component_header">
                <h4>Book your Energy Treatment</h4>
            </div>

            <div class="grid_component_grid">
                <div class="price_component_grid--item price_component_grid--item-1">
                    <div class="card shadow">
                        <div class="price_component_grid--header">
                            <div class="price_component_grid--header-title">
                                <h6>Energy Treatment</h6>
                            </div>
                            <div class="price_component_grid--header-price">
                                <h5><span class="currency_small">€</span>70</h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-title"><b>One Treatment Session</b></p>
                            <p class="card-text">Allow 2-3 hours if first visit</p>
                            <p class="card-text">No expiry date</p>
                        <p class="card-text">Placeholder</p>
                        <div class="price_component_grid--item-location">
                            <img src="/assets/images/icons/location-teal.svg" alt="locations icon" class="price_component_grid--item-location-icon">
                            <p class="price_component_grid--item-location-text">Shannon, Co. Clare, Ireland</p>
                            </div>
                            <div class="price_component_grid--button">
                                <a href="/treatments/energy-treatment">
                                    <button>Book now</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                    
                    
                <div class="price_component_grid--item price_component_grid--item-2">
                    <div class="card shadow">
                        <div class="price_component_grid--header">
                            <div class="price_component_grid--header-title">
                                <h6>Absentee Treatment</h6>
                            </div>
                            <div class="price_component_grid--header-price">
                                <h5><span class="currency_small">€</span>65</h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-title"><b>One Treatment Session</b></p>
                            <p class="card-text">Allow 2-3 hours if first visit</p>
                            <p class="card-text">No expiry date</p>
                            <p class="card-text">Placeholder</p>
                            <div class="price_component_grid--item-location">
                            <img src="/assets/images/icons/location-teal.svg" alt="locations icon" class="price_component_grid--item-location-icon">
                            <p class="price_component_grid--item-location-text">Worldwide</p>
                            </div>
                            <div class="price_component_grid--button">
                            <a href="/treatments/absentee-treatment">
                                <button>Book now</button>
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div> <!-- End of wrapper -->