.header_div,
.subheader_div {
    text-align: center;
    margin-bottom: 1rem;
}

.header_div h1 {
    font-weight: 700;
    font-size: 3.5rem;
    font-family: var(--main-font);
}

.subheader_div h2 {
    font-weight: 700;
    font-size: 2.5rem;
}

.header_img_div {
    text-align: center;
}


.header_img_div img {
    max-width: 35rem;
    margin-bottom: 3rem;
    border-radius: 5px;
}

.awareness_about--wrapper {
    margin: 0 16rem;
    margin-bottom: 2rem;
}

.body_div {
    font-family: var(--bs-font-sans-serif);
    font-size: 1.2rem;
    padding: 0 6rem 3rem;
}

.body_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem auto;
    grid-gap: 1rem;
}

.quote-box {
    background-color: var(--deep-purple);
    color: white;
    font-size: 2rem;
    height: 18rem;
    width: 22rem;
    border-radius: 5px;
    padding: 0 2rem;
    display: grid;
    align-items: center;
}

.about_open-quote-1,
.about_open-quote-2 {
    transform: translate(-.8rem, 1.2rem);
}

.about_close-quote-1 {
    transform: translate(10rem, -3rem);
}

.about_close-quote-2 {
    transform: translate(12rem, -2.5rem);
}

.awareness_open-quote-1 {
    transform: translate(-.8rem, .8rem);
}

.awareness_open-quote-2 {
    transform: translate(-.8rem, 2.5rem);
}

.awareness_close-quote-1 {
    transform: translate(15rem, -1.5rem);
}

.awareness_close-quote-2 {
    transform: translate(12rem, -4rem);
}

.jennifer-quote {
    margin: 0 auto;
    font-family: var(--bs-font-sans-serif);
    font-size: 1.2rem;
    padding: 0 6rem 3rem;
}

.quote-name {
    display: block;
    text-align: right;
    padding-right: 3rem;
}

.awareness_about_link {
    background-color: var(--teal);
    color: white;
    font-family: "Open Sans";
    height: 5rem;
}

.awareness_about_link--content {
    display: grid;
    justify-content: center;
    padding: .5rem;
}

.awareness_about_link--text p {
    font-size: 1.2rem;
    margin-top: .5rem;
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.awareness_about_link--button {
    display: grid;
    justify-content: center;
}

.link-button {
    background: none;
    height: 1.5rem;
    width: 5rem;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    justify-self: center;
    font-size: .7rem;
}

.link-button:hover {
    background-color: white;
    color: var(--teal);
    border: none;
}

@media only screen and (max-width: 600px) {
    .header_div,
    .subheader_div {
        margin-bottom: 1rem;
    }

    .header_div h1 {
        font-size: 2.5rem;
    }

    .subheader_div h2 {
        font-size: 2rem;
    }

    .header_img_div img {
        max-width: 22rem;
        margin-bottom: 1rem;
        border-radius: 5px;
    }

    .awareness_about--wrapper {
        margin: 0 1rem;
        margin-bottom: 2rem;
    }

    .body_div {
        font-size: 1rem;
        padding: 1rem;
    }

    .body_grid {
        display: grid;
        grid-template-columns: auto auto;
        margin: 0 auto;
        grid-gap: .6rem;
    }

    .body_grid--section-1.awareness-quote.quote-box {
        font-size: 1.2rem;
        height: 13rem;
        width: 13rem;
        padding: 0 1rem;
        text-align: center;
    }

    .body_grid--section-2.awareness-quote.quote-box {
        font-size: 1.2rem;
        height: 10rem;
        width: 10rem;
        padding: 0 1.5rem;
        margin-top: 2rem;
        text-align: center;
    }

    .body_grid--section-1.about-quote.quote-box {
        font-size: 1.2rem;
        height: 11rem;
        width: 11rem;
        padding: .5rem 1.5rem;
        margin-top: 1rem;
        text-align: center;
    }

    .body_grid--section-2.about-quote.quote-box {
        font-size: 1.2rem;
        height: 12rem;
        width: 12rem;
        padding: .5rem 1.5rem;
        text-align: center;
    }

    .about_open-quote-1,
    .about_open-quote-2 {
        transform: translate(-.5rem, 0.5rem);
        margin-bottom: .2rem;
        width: 1.2rem;
    }

    .about_close-quote-1 {
        transform: translate(7rem, -1rem);
        width: 1.2rem;
    }

    .about_close-quote-2 {
        transform: translate(8rem, -1rem);
        width: 1.2rem;
    }

    .awareness_open-quote-1 {
        transform: translate(0, .8rem);
        width: 1.2rem;
    }

    .awareness_close-quote-1 {
        transform: translate(9rem, -1.5rem);
        width: 1.2rem;
    }

    .awareness_open-quote-2 {
        transform: translate(-.5rem, .5rem);
        width: 1.2rem;
    }

    .awareness_close-quote-2 {
        transform: translate(6rem, -1.5rem);
        width: 1.2rem;
    }

    .jennifer-quote {
        font-size: 1.2rem;
        padding: 2rem;
    }

    .awareness_about_link {
        height: 4rem;
    }

    .awareness_about_link--text p {
        font-size: 1rem;
        margin-bottom: 0;
    }
}