/* GENERAL TAGS */
html {
    overflow-y: scroll;
    /* scroll-behavior: smooth; */
    scroll-snap-type: y proximity;
}

body {
    max-width: 1380px;
    margin: 0 auto;
    font-family: var(--main-font);
}

.page_content {
    width: 100%;
    height: 100%;
}

.navbar {
    display: block;
}

.navbar_home.background-color {
    background-color: #211c18;
    transition: all .2s ease;
}

.navbar_home.background-color .home-brand {
    visibility: visible;
}

button,
.nav-link {
    font-family: var(--bs-font-sans-serif);
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white; 
}

/* HERO SECTION  W/ NAVBAR INSIDE */
#hero_div {
    background-image: url("../images/hero-image-rock-crystal.jpg");
    background-size: cover;
    background-position: 0%;
    height: 100vh;
    margin-bottom: 5rem;
    position: relative;
    scroll-snap-align: center;
}

.home-brand {
    visibility: hidden;
}

.hero_mobile_header {
    display: none;
}

.hero_text {
    color: var(--crystal-cream);
    max-width: 40%;
    text-align: center;
    margin: 7rem 0 0 4rem;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    text-shadow: var(--main-shadow);
}

.hero_text--links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-around;
    padding: 0 2rem;
    font-size: 2rem;
    font-weight: 700;
    text-shadow: var(--main-shadow);
}

.hero_text--links a:hover {
    color: var(--teal);
}

.hero_text--button button {
    background-color: var(--deep-purple);
    height: 2.5rem;
    width: 9rem;
    border: none;
    color: white;
    border-radius: 10px;
}

.hero_text--button button:hover {
    background-color: var(--teal);
}

.hero_arrow {
    display: grid;
    position: relative;
    top: 30%;
    justify-content: center;
    color: white;
}

.fa-angle-double-down {
    font-size: 3rem;
}

.fa-angle-double-down.active {
    animation: bounce;
    animation-duration: 4s;
}

@keyframes bounce {
    15% {
        transform: translateY(2rem);
    }
    30% {
        transform: translateY(0);
    }
    45% {
        transform: translateY(2rem);
    }
    60% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(2rem);
    }
    90% {
        transform: translateY(0);
    }
}

.hero_curve_design,
.philosophy_curve_design {
    display: none;
}
  

/* PHILOSOPHY */

#philosophy_div {
    height: 100vh;
    background-image: url("../images/philosophy-bg.png");
    background-size: cover;
    background-position: 0 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5rem;
    font-weight: 700;
    scroll-snap-align: center;
}

.philosophy_image {
    margin: 3rem 0 0 5rem;
}

.slide-in {
    transform: translateX(-50%);
    opacity: 0;
}

.philosophy_mobile_header {
    display: none;
}

.philosophy_text {
    margin: 7rem 0 0 2rem;
}

h2 {
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--deep-purple);
}

.philosophy_text--body {
    font-size: 2.5rem;
}

.step-fade-in p,
.step-fade-in h2 {
    opacity: 0;
}

.philosophy_text--name {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--light-purple);
}

/* JEWELLERY */

#jewellery_div {
    height: 200vh;
    margin-bottom: 5rem;
    scroll-snap-align: start;
}

.jewellery_top_div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 4rem;
}

.jewellery_top_div--text {
    margin: 5rem 0 0 2rem;
    text-align: center;
    font-weight: 700;
}

.jewellery_top_div--logo img {
   width: 14rem;
}

.jewellery_top_div--body {
    font-size: 2.5rem;
    color: var(--deep-purple);
}

.jewellery_top_div--button button{
    background-color: white;
    font-size: 1rem;
    height: 2.5rem;
    width: 8rem;
    border: 1px solid var(--deep-purple);
    color: var(--deep-purple);
    border-radius: 10px;
}

.jewellery_top_div--button button:hover,
.collection_div--button button:hover {
    background-color: var(--deep-purple);
    border: none;
    color: white;
}

.jewellery_top_div--image {
    margin: 2rem 5rem 0 0;
    position: relative;
}

.swiper-container {
    display: block;
    width: 800px;
    height: 550px;
  }

.swiper-slide-1 {
    background-image: url("../images/Jewellery-1.jpg");
    background-size: cover;
}

.swiper-slide-2 {
    background-image: url("../images/Jewellery-2.jpg");
    background-size: cover;
}

.swiper-slide-3 {
    background-image: url("../images/Jewellery-3.jpg");
    background-size: cover;
}

.overlay {
    position: absolute;
    left: 0;
    background-color: var(--deep-purple);
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.jewellery_bottom_div {
   text-align: center;
}

h3 {
    font-size: 3.5rem;
    color: var(--deep-purple);
    margin-bottom: 4rem;
    font-weight: 700;
}

.jewellery_bottom_div--collections {
    display: grid;
    grid-template-columns: repeat(3, 18rem);
    justify-content: space-around;
    padding: 0 3rem;
}

.slide-up {
    transform: translateY(30%);
    opacity: 0;
}

.jewellery_bottom_div--collection {
    width: 18rem;
}

h5 {
    font-size: 2rem;
    font-weight: 700;
}

.collection_div--text-1,
.collection_div--text-3 {
    margin-top: 1rem;
    margin-bottom: 1.7rem;
    font-weight: 700;
}

.collection_div--button button {
    background-color: white;
    height: 2rem;
    width: 6rem;
    border: 1px solid var(--deep-purple);
    color: var(--deep-purple);
    border-radius: 10px;
}

/* TREATMENTS */

#treatments_div {
    height: 100vh;
    background-image: url("../images/treatments-bg.png");
    background-position: 80%;
    background-size: cover;
    display: grid;
    text-align: center;
    align-items: center;
    font-weight: 700;
    text-shadow: var(--main-shadow);
    scroll-snap-align: center;
}

.treatments_text {
    color: white;
}

h4 {
    font-size: 4rem;
    font-weight: 700;
}

.treatments_text--body {
    margin: 0 15rem;
    font-size: 3rem;
}

.treatments_text--button button {
    background: none;
    height: 2.5rem;
    width: 8rem;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
}

.treatments_text--button button:hover {
    background: white;
    border: 1px solid var(--deep-purple);
    color: var(--deep-purple);
}

/* FOOTER */

#footer_div {
    height: 40vh;
    background-color: var(--off-black);
    color: white;
    display: grid;
    justify-content: center;
    text-align: center;
}

.social_links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin-top: 2rem;
}

.social_link {
    margin: 0 2rem;
    font-size: 2rem;
}

.facebook-bottom:hover {
    color: #4267B2;
}

.instagram-bottom:hover {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.twitter-bottom:hover {
    color: #1DA1F2;
}

h6 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
}

.contact_link--button button {
    background-color: var(--deep-purple);
    height: 2.5rem;
    width: 9rem;
    border: none;
    color: white;
    border-radius: 10px;
}

.contact_link--button button:hover {
    background-color: var(--teal);
}

/*##### ANIMATIONS #####*/

.slide-in-active {
    animation-name: slide-in;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes slide-in {
    to { 
        transform: translateX(0%);
        opacity: 1;
    }
}

.slide-up-active {
    animation-name: slide-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes slide-up {
    to { 
        transform: translateY(0%);
        opacity: 1;
    }
}

.step-fade-in-active {
    animation-name: fade-in;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    to { 
        opacity: 1; 
    }
}

.overlay-active {
    animation-name: overlay;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes overlay {
    to {
        left: 100%;
        width: 0;
    }
}


@media only screen and (max-width: 1000px) {
    .navbar {
        display: none;
    }
}


@media only screen and (max-width: 600px) {
    body {
        max-width: 600px;
        overflow: hidden;
        margin: 0;
    }
    
    /* HERO SECTION  W/ NAVBAR INSIDE */
    #hero_div {
        background-size: cover;
        background-position: 30% 50%;
        height: 60vh;
        margin-bottom: .5rem;
    }

    .home-brand {
        visibility: hidden;
    }

    .hero_mobile_header {
        display: inline-block;
        text-align: center;
        padding-left: 2rem;
        padding-top: 6rem;
    }
    
    .hero_mobile_text--header h1 {
        font-size: 2.5rem;
        color: var(--crystal-cream);
    }
    
    .hero_text {
        max-width: 80%;
        margin:  auto;
        position: relative;
        top: 30%;
    }
    
    .hero_text--header h1 {
        display: none;
    }

    .hero_text--links {
        padding: 0;
        font-size: 2rem;
    }
    
    .hero_text--links a:hover {
        color: var(--teal);
    }
    
    .hero_text--button button {
        display: none;
    }
    
    .hero_arrow {
        display: none;
    }
      
    .hero_curve_design {
        display: block;
        position: relative;
        top: 27%;
        height: 2rem;
        background-image: url("../images/curve-top-left.png");
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: 0;
    }

    /* PHILOSOPHY */

    #philosophy_div {
        height: auto;
        background-image: url("../images/crystal-bg-small.png");
        background-size: 20rem;
        background-repeat: no-repeat;
        background-position: 100% 100%;
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 3rem;
        font-weight: 700;
    }

    .philosophy_image {
        margin: 0 auto;
    }

    .profile-photo {
        max-height: 20rem;
    }

    .slide-in {
        transform: translateX(0);
        opacity: 1;
    }

    .philosophy_mobile_header {
        display: block;
        margin: 0 auto;
        margin-bottom: 0;
    }

    h2.philosophy_mobile--header {
        font-size: 2.5rem;
    }

    .philosophy_text {
        margin: 0 auto;
        margin-bottom: 7rem;
        text-align: center;
    }

    h2.philosophy_text--header {
        display: none;
    }

    .philosophy_text--body {
        font-size: 2rem;
    }

    .step-fade-in p,
    .step-fade-in h2 {
        opacity: 1;
    }

    .philosophy_text--name {
        font-size: 1.5rem;
    }

    .philosophy_curve_design {
            display: block;
            position: relative;
            top: 25%;
            left: 1%;
            height: 2rem;
            background-image: url("../images/curve-bottom-right.png");
            background-repeat: no-repeat;
            background-size: contain;
            margin-bottom: 0;
    }

    /* JEWELLERY */

    #jewellery_div {
        height: auto;
        margin-bottom: 2rem;
    }

    .jewellery_top_div {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 3rem;
    }

    .jewellery_top_div--text {
        margin: auto;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .jewellery_top_div--logo img {
        width: 10rem;
    }

    .jewellery_top_div--body {
        font-size: 2rem;
    }

    /* .jewellery_top_div--button button{
        background-color: white;
        font-size: 1rem;
        height: 2.5rem;
        width: 8rem;
        border: 1px solid var(--deep-purple);
        color: var(--deep-purple);
        border-radius: 10px;
    } */


    .jewellery_top_div--image {
        margin: auto;
        position: relative;
    }

    .swiper-container {
        display: none;
    }

    .jewellery_bottom_div {
        text-align: center;
    }

    h3 {
        display: none;
    }

    .jewellery_bottom_div--collections {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-around;
        padding: 1rem;
        grid-gap: 1rem;
    }

    .slide-up {
        transform: translateY(0);
        opacity: 1;
    }

    .jewellery_bottom_div--collection {
        width: auto;
        margin-bottom: 1rem;
    }

    h5 {
        font-size: 2rem;
    }

    .collection_div--text-1,
    .collection_div--text-3 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .collection_div--button button {
        background-color: white;
        height: 2rem;
        width: 6rem;
        border: 1px solid var(--deep-purple);
        color: var(--deep-purple);
        border-radius: 10px;
    }

    /* TREATMENTS */

    #treatments_div {
        height: auto;
        background-image: url("../images/treatments-bg.png");
        background-position: center;
        background-size: cover;
        display: grid;
        text-align: center;
        align-items: center;
    }

    .treatments_text {
        color: white;
        margin: 0 auto;
        padding: 8rem 1rem;
    }

    h4 {
        font-size: 3rem;
    }

    .treatments_text--body {
        margin: 0 auto;
        font-size: 2rem;
    }

    .treatments_text--button button {
        background: none;
        height: 2.5rem;
        width: 8rem;
        border: 1px solid white;
        color: white;
        border-radius: 10px;
    }

    .treatments_text--button button:hover {
        background: white;
        border: 1px solid var(--deep-purple);
        color: var(--deep-purple);
    }
    
  }