/* HERO DIV */

#jewellery__hero_div {
    height: 100vh;
    display: grid;
    grid-template-rows:  45% 10%;
}

.hero_header {
    background-color: var(--deep-purple);
}

.indian_woman--img-overlay {
    background-image: url("../images/woman2.png");
    background-repeat: no-repeat;
    background-size: 25rem;
    background-position: 10% 80%;
}

.hero_header-content {
    display: grid;
    justify-content: center;
    color: white;
}

.hero_header--icon {
    display: grid;
    margin-top: 2rem;
    z-index: 2;
}

.hero_header--icon img {
    width: 10rem;
    justify-self: center;
}

.hero_header--text {
    font-size: 2.5rem;
    border: 2px solid white;
    padding: 3rem 2rem 0 2rem;
    position: relative;
    transform: translateY(-3rem);
    z-index: 1;
}

.hero_infobar {
    background-color: var(--teal);
    color: white;
    font-family: "Open Sans";
}

.hero_infobar--content {
    display: grid;
    justify-content: center;
}

.hero_infobar--text p {
    font-size: 1rem;
    margin-top: .2rem;
    margin-bottom: 0.2rem;
    text-align: center;
}

.hero_infobar--grid {
    display: grid;
    grid-template-columns: repeat(2, 24rem);
    grid-gap: 5rem;
    margin-top: 2rem;
}

.hero_infobar--grid-item-icon {
    text-align: center;
    display: grid;
    grid-template-rows: 4rem 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;
}

.hero_infobar--button {
    display: grid;
}

.buying_guide-button {
    background: none;
    height: 1.5rem;
    width: 5rem;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    justify-self: center;
    font-size: .7rem;
}

.buying_guide-button:hover {
    background-color: var(--deep-purple);
    border: none;
}

.hero_grid {
    display: grid;
    grid-template-columns: repeat(3, 16rem);
    grid-template-rows: 16rem;
    justify-content: center;
    grid-gap: 6rem;
}

.hero_grid--item {
    margin: 1rem 0;
    display: grid;
    overflow: hidden;
}

.hero_grid--item-1 {
    background-image: url("../images/Jewellery-1.jpg");
    background-size: contain;
}

.hero_grid--item-2 {
    background-image: url("../images/Jewellery-2.jpg");
    background-size: contain;
}

.hero_grid--item-3 {
    background-image: url("../images/Jewellery-3.jpg");  
    background-size: contain;                                                            
}

.overlay {
    background-color: var(--deep-purple);
    border: 1px solid white;
    position: relative;
    top: 1rem;
    left: 2rem;
    height: 12rem;
    width: 12rem;
    opacity: 0.7;
}

.hero_grid--item-content {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    text-align: center;
    position: relative;
}

.hero_grid--item-content-1 {
    top: -8rem !important;
}

.hero_grid--item-content-2 {
    top: -9rem !important;
}

.hero_grid--item-content-3 {
    top: -7.5rem !important;
}

.hero_grid--item-1 p,
.hero_grid--item-3 p {
    margin-top: 1rem;
}

.jewellery_featured {
    display: grid;
    justify-content: center;
}

h2 {
    font-size: 3.5rem;
    color: var(--deep-purple);
    font-weight: 700;
}

/* CONTENT DIVS */

.jewellery_content_div {
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    justify-content: space-around;
    grid-gap: 3rem;
    text-align: center;
    margin: 3rem 5rem;
}

.jewellery_item {
    width: 20rem;
    height: 32rem;
}

h5 {
    font-size: 2rem;
    font-weight: 700;
}

.jewellery_item p {
    font-size: 1.5rem;
}

.jewellery_item--button button {
    background-color: white;
    height: 2rem;
    width: 6rem;
    border: 1px solid var(--deep-purple);
    color: var(--deep-purple);
    border-radius: 10px;
}

.jewellery_item--button button:hover {
    background-color: var(--deep-purple);
    border: none;
    color: white;
}

/* TREATMENT AND AWARENESS LINKs */

.treatments_link,
.awareness_link {
    height: 40vh;
    background-image: url("../images/treatments-bg.png");
    background-position: 0 50%;
    background-size: cover;
    display: grid;
    text-align: center;
    align-items: center;
    font-weight: 700;
}

.treatments_text,
.awareness_text {
    color: white;
}

h4 {
    font-size: 3rem;
    font-weight: 700;
}

.treatments_text--body {
    margin: 0 20rem;
    font-size: 2rem;
}

.awareness_text--body {
    margin: 0 15rem;
    font-size: 2rem;
}

.treatments_text--button button,
.awareness_text--button button {
    background: none;
    height: 2rem;
    width: 7rem;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
}

.treatments_text--button button:hover,
.awareness_text--button button:hover {
    background: white;
    border: 1px solid var(--deep-purple);
    color: var(--deep-purple);
}

/* ##################### */
/*       SHOW PAGE       */
/* ##################### */

.back_to_jewellery {
    padding: 1rem 0;
}

.back_to_jewellery a {
    color: var(--deep-purple);
    font-family: var(--bs-font-sans-serif);
}

.jewellery_content_main {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto 38rem;
    text-align: start;
    font-family: var(--bs-font-sans-serif);
    margin-bottom: 3rem;
}

.jewellery_content_main--section-1 {
    display: grid;
    grid-template-columns: repeat(16, 2rem);
    grid-template-rows: repeat(13, 2rem);
    grid-gap: .2rem;
}

.thumb_image {
    height: 6rem;
    width: 6rem;
    grid-column: 1 / 3;
}

.thumb-1 {
    grid-row: 1 / 3;
}

.thumb-2 {
    grid-row: 4 / 7;
}

.thumb-3 {
    grid-row: 7 / 10;
}

.main_image {
    grid-column: 4 / -1;
    grid-row: 1 / -1;
    max-width: 100%;
}

.share_item {
    grid-column: 1 / 4;
    grid-row: -3 / -1;
    text-align: center;
    text-transform: uppercase;
}

/* .jewellery_content_main--section-2 {

} */

h1.jewellery_title {
    font-size: 3rem;
    font-family: var(--main-font);
    font-weight: 700;
}

h2.jewellery_type {
    font-size: 2rem;
    font-family: var(--main-font);
    font-weight: 700;
}

.jewellery_price {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.delivery_included {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
}

.jewellery_stock {
    color: limegreen;
    font-weight: bold;
}

.jewellery_buy_button button {
    background-color: var(--deep-purple);
    height: 2.5rem;
    width: 13rem;
    border: none;
    color: white;
    border-radius: 10px;
}

.jewellery_buy_button button:hover {
    background-color: var(--teal);
}
 
.jewellery_wishlist--add {
    font-size: .8rem;
    padding-left: 2.5rem;
    color: var(--deep-purple);
    text-decoration: underline;
}

.fa-heart {
    color: var(--deep-purple);
}

h4.jewellery_description--header {
    font-family: var(--main-font);
    font-size: 1.5rem;
    font-weight: 700;
}

/* .jewellery_description--body {
} */

/* MATERIALS USED AND SYMBOLISM */

.materials_grid {
    margin-bottom: 3rem;
}

.materials_grid--header {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.materials_grid--body {
    display: grid;
    grid-template-columns: repeat(3, 18rem);
    justify-content: space-around;
}

.materials_grid--item {
    display: grid;
    grid-template-columns: auto 1fr;
}

.materials_grid--icon {
    height: 3rem;
    border-radius: 50%;
}

.materials_grid--text-header {
    font-size: 2rem;
    font-weight: 700;
    color: var(--deep-purple);
    margin-bottom: 0;
}

.materials_grid--text-body {
    font-family: var(--bs-font-sans-serif);
}

/* WHITE FEATHER JEWELLERY BIO */

.white_feather_bio {
    margin-bottom: 3rem;
}

.white_feather_bio--header {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.white_feather_bio--body {
    display: grid;
    grid-template-columns: 35rem auto;
    justify-content: center;
    grid-gap: 5rem;
    font-family: var(--bs-font-sans-serif);
}

.white_feather_bio--icon {
    align-self: center;
}

/* SIMILAR ITEMS */

.similar_items-header {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.similar_items--grid {
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    justify-content: space-around;
    grid-gap: 3rem;
    text-align: center;
    margin: 1rem 5rem 3rem;
}