/* VARIABLES */
:root {
    /* Fonts */
    --main-font: 'Amatic SC', cursive;
    --secondary-font: "Open Sans";

    /* Colours */
    --crystal-cream: #f7e6ca;
    --teal: #42b4b5;
    --light-purple: #865e9c;
    --deep-purple: #602f78;
    --off-black: #060606;
}

/* GENERAL TAGS */
body {
    max-width: 1380px;
    margin: 0 auto;
    font-family: var(--main-font);
}

button,
.nav-link {
    font-family: var(--bs-font-sans-serif);
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white; 
}

#navbar-custom {
    background-color: var(--off-black);
}

/* HERO DIV */

#jewellery__hero_div {
    height: 100vh;
    margin-bottom: 5rem;
    display: grid;
    grid-template-rows:  45% 10% 45%;
}

.hero_header {
    background-color: var(--deep-purple);
}

.indian_woman--img-overlay {
    background-image: url("../images/woman2.png");
    background-repeat: no-repeat;
    background-size: 25rem;
    background-position: 10% 80%;
}

.hero_header-content {
    display: grid;
    justify-content: center;
    color: white;
}

.hero_header--icon {
    display: grid;
    margin-top: 2rem;
    z-index: 2;
}

.hero_header--icon img {
    width: 10rem;
    justify-self: center;
}

.hero_header--text {
    font-size: 2.5rem;
    border: 2px solid white;
    padding: 3rem 2rem 0 2rem;
    position: relative;
    transform: translateY(-3rem);
    z-index: 1;
}

.hero_infobar {
    background-color: var(--teal);
    color: white;
    font-family: "Open Sans";
}

.hero_infobar--content {
    display: grid;
    justify-content: center;
}

.hero_infobar--text p {
    font-size: 1rem;
    margin-top: .2rem;
    margin-bottom: 0.2rem;
}

.hero_infobar--button {
    display: grid;
}

.buying-guide {
    background: none;
    height: 1.5rem;
    width: 5rem;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    justify-self: center;
    font-size: .7rem;
}

.buying-guide:hover {
    background-color: var(--deep-purple);
    border: none;
}

.hero_grid {
    display: grid;
    grid-template-columns: repeat(3, 16rem);
    grid-template-rows: 16rem;
    justify-content: center;
    grid-gap: 6rem;
}

.hero_grid--item {
    margin: 1rem 0;
    display: grid;
    overflow: hidden;
}

.hero_grid--item-1 {
    background-image: url("../images/Jewellery-1.jpg");
    background-size: contain;
}

.hero_grid--item-2 {
    background-image: url("../images/Jewellery-2.jpg");
    background-size: contain;
}

.hero_grid--item-3 {
    background-image: url("../images/Jewellery-3.jpg");  
    background-size: contain;                                                            
}

.overlay {
    background-color: var(--deep-purple);
    border: 1px solid white;
    position: relative;
    top: 1rem;
    left: 2rem;
    height: 12rem;
    width: 12rem;
    opacity: 0.7;
}

.hero_grid--item-content {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    text-align: center;
    position: relative;
}

.hero_grid--item-content-1 {
    top: -8rem !important;
}

.hero_grid--item-content-2 {
    top: -9rem !important;
}

.hero_grid--item-content-3 {
    top: -7.2rem !important;
}

.hero_grid--item-1 p,
.hero_grid--item-3 p {
    margin-top: 1rem;
}


/* FOOTER */

#footer_div {
    height: 40vh;
    background-color: var(--off-black);
    color: white;
    display: grid;
    justify-content: center;
    text-align: center;
}

.social_links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin-top: 2rem;
}

.social_link {
    margin: 0 2rem;
    font-size: 2rem;
}

.fa-facebook:hover {
    color: #4267B2;
}

.fa-instagram:hover {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-twitter:hover {
    color: #1DA1F2;
}

h6 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
}

.contact_link--button button {
    background-color: var(--deep-purple);
    height: 2.5rem;
    width: 9rem;
    border: none;
    color: white;
    border-radius: 10px;
}

.contact_link--button button:hover {
    background-color: var(--teal);
}