.treatments_hero_div {
    height: 100vh;
    background-image: url("../images/treatments-bg.png");
    background-position: 80%;
    background-size: cover;
    display: grid;
    grid-template-rows: auto auto 1fr;
    text-align: center;
    align-items: center;
    color: white;
    padding-bottom: 2rem;
}

.treatments_hero_header {
    margin: 0 auto;
}

.treatments_hero_header h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 0;
    text-shadow: var(--main-shadow);
}

.treatments_hero_header h3 {
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow: var(--main-shadow);
}

.treatments_hero_grid {
    display: grid;
    grid-template-columns:  22rem 22rem;
    justify-content: center;
    grid-gap: 5rem;
    margin-top: 0;
    padding-top: 0;
}

.treatments_hero_grid--item {
    background-color: var(--off-white); 
    color: var(--off-black);
    font-family: var(--bs-font-sans-serif);
    height: 22rem;
    display: grid;
    border-radius: 5px;
}

.treatments_hero_grid--item:hover {
    transform: scale(1.05);
}

.treatments_hero_grid--item:hover h4.treatments_hero_grid--item-header-1 {
    background-color: var(--deep-purple);
    color: white;
    text-shadow: var(--main-shadow);
    border-radius: 4px 4px 0 0;
}

.treatments_hero_grid--item:hover h4.treatments_hero_grid--item-header-2 {
    background-color: var(--teal);
    color: white;
    text-shadow: var(--main-shadow);
    border-radius: 4px 4px 0 0;
}


h4.treatments_hero_grid--item-header {
    font-family: var(--main-font);
    padding-top: 1rem;
    transition: all .2s ease-in-out;
}

.treatments_hero_grid--item p {
    margin-bottom: 0;
}

.treatments_hero_grid--item-body {
    font-size: 1.5rem;
    font-weight: 400;
}

.treatments_hero_grid--item-price {
    font-size: 1.5rem;
}

.treatments_hero_grid--item-location {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-gap: 1rem;
}

.treatments_hero_grid--item-location-text {
    font-weight: 400;
}

.treatments_hero_grid--item-button button {
    background-color: var(--deep-purple);
    height: 2.5rem;
    width: 9rem;
    border: none;
    color: white;
    border-radius: 10px;
}

.treatments_hero_grid--item-button button:hover {
    background-color: var(--teal);
}


/* TREATMENT SHOW PAGES */
.treatment_item_hero_div {
    height: 50vh;  
    display: grid;
    grid-template-rows:  auto auto 1fr;
    color: white;
}

.back_to_treatments {
    padding: 0 3rem;
}

.back_to_treatments a {
    font-family: var(--bs-font-sans-serif);
}

.treatment_item_hero--header {
    text-align: center;
    margin-top: 2rem;
}

.treatment_item_hero--header h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 0;
    text-shadow: var(--main-shadow);
}

.treatment_item_hero--header h3 {
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow: var(--main-shadow);
}


/* ENERGY TREATMENT SHOW PAGE */
.energy_treatment_div {
    background-image: url("../images/treatments-bg.png");
    background-position: 0 70%;
    background-size: cover;
}

/* ABSENTEE TREATMENT SHOW PAGE */
.absentee_treatment_div {
    background-image: url("../images/background-teal.png");
    background-size: cover;
}