<!-- Include boilerplate -->
<% layout('layouts/boilerplate')%>
<!-- Include the navbar partial -->
<%- include('../../partials/navbarBlack')%>
<!-- Include the side navbar partial -->
<%- include('../../partials/sideNavbarBlack')%>

<div class="navbar_top_padding">

    <div class="row new_edit_blog_div shadow">
        <h1 class="text-center">New Blog</h1>
        <div class="col-10">
            <form action="/blogs" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="title"><b>Blog Title</b></label>
                    <input class="form-control" type="text" id="title" name="blog[title]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="image"><b>Image URL</b><br>
                        Copy and paste a link to an image here - For best result, right click on the image you want to copy and select 'open image in new tab', then copy the link from the search bar<br>
                        Pictures that are wider than they are high will fit better here</label>
                    <input class="form-control" type="text" id="image" name="blog[image]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="header"><b>Header</b><br>
                        This is a brief description or some of the main ideas that will show on the blog page under the image but won't be shown when you click on the blog to read it. I have set a character limit of 400 to make sure all the boxes are the same size.<br>
                        <i class="text-muted">Click and drag the bottom right of the box to make it bigger/smaller</i>
                    </label>
                    <textarea class="form-control" type="text" id="header" name="blog[header]" maxlength="400" rows="5"
                        required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
    
                <div class="mb-3">
                    <label class="form-label" for="text"><b>Text</b><br>
                        This is the text that will appear when you click into the blog <br>
                        All spaces that you add will show so be sure to skip a line when starting a new paragraph to avoid problems <br> <br>

                        <b>Legend: </b>
                        <table>
                            <tr>
                                <th>Open</th>
                                <th>Effect</th>
                                <th>Close</th>
                            </tr>
                            <tr>
                                <td>%B%</td>
                                <td>Bold</td>
                                <td>%XB%</td>
                            </tr>
                            <tr>
                                <td>%U%</td>
                                <td>Underline</td>
                                <td>%XU%</td>
                            </tr>
                            <tr>
                                <td>%I%</td>
                                <td>Italic</td>
                                <td>%XI%</td>
                            </tr>
                            <tr>
                                <td>%H%</td>
                                <td>Header</td>
                                <td>%XH%</td>
                            </tr>
                            <tr>
                                <td>%LIST%</td>
                                <td>List</td>
                                <td>%XLIST%</td>
                            </tr>
                            <tr>
                                <td>%BULLET%</td>
                                <td>Bullet point</td>
                                <td>%XBULLET%</td>
                            </tr>
                        </table> <br>

                        For example: %B% Hello %XB% = <b>Hello</b> <br> <br>
                        To use bullet points you must put them in a list. You can add as many bullets as you want to a list, just remember to close the list after. <br>
                        For example: <br> 
                        %LIST% %BULLET% Text 1 %XBULLET% %BULLET% Text 2 %XBULLET% %XLIST% = <br>
                        <ul>
                            <li>Text 1</li>
                            <li>Text 2</li>
                        </ul>
                    </label>
                    <textarea class="form-control" type="text" id="text" name="blog[text]" rows="10" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3 blog_new_edit_button">
                    <button class="btn btn-success">Add Blog</button>
                    <p class="blog_bottom_message text-muted">If you feel like changing anything after you post it, just click on edit or delete when you are logged in. Or if you want me to change anything about the blog layout, let me know and I can do it :)</p>
                </div>
            </form>
            <a href="/blogs">All Blogs</a>
        </div>
    </div>

    </div>