<% layout('layouts/boilerplate')%>

<div class="progress"></div>

<%- include('../../partials/navbarBlack')%>

<div class="awareness_about--wrapper shadow">

    <div class="header_div">
        <h1>Awareness</h1>
    </div>

    <div class="header_img_div">
        <img class="shadow" src="../images/awareness-wolf.jpg" alt="Jennifer Wilson profile picture">
    </div>

    <div class="subheader_div">
        <h2>Freewill - The Right To Choose</h2>
    </div>

    <div class="body_div">
        <p>We the peoples of this earth are known among the tribes of the skies as the 'chosen people' as the universal laws of this planet are based on <b>freewill</b>, the right to choose.</p>

        
        <div class="body_grid body_grid--1">
            <div class="body_grid--section-1 quote-box shadow">
                <img class="awareness_open-quote-1" src="../images/icons/open-quote.png" alt="Open quote icon">
                <p>There is only one source energy, that of divine love flowing through us</p>
                <img class="awareness_close-quote-1" src="../images/icons/close-quote.png" alt="Close quote icon">
            </div>
            <div class="body_grid--section-2">
                <p>To be possible for freewill to exist, alternative choice must exist and so in service to the light, 'negative choice' (devoid of energy) was born into existence in the spirit realm where once only positive choice and source energy 'divine love' existed.</p>
            </div>
        </div>
        <p>Being that there is only one source energy, that of divine love flowing through us, energizing and empowering us from the Great Spirit/God/Universal Light/Other Name, it is this same source energy flowing through us that must adhere to our (in the moment) choice, energizing and empowering our focus of thought, be it negative or positive, so upholding the laws of freewill.</p>

        <p>Hence we Humans have been <b>entrusted with a sacred responsibility</b>, towards 'self', 'Mother Earth', our kin 'humanity' and the Greater Universe (one that in the beginning our ancestors knew and understood well as the web of creation) that of 'awareness' of our thoughts empowered by source energy.</p>

        <div class="body_grid body_grid--2">
            <div class="body_grid--section-1">
                <p>Freewill is a gift of the moment, every moment offering the same opportunity to choose again the frequency of energy, be it positive or negative to embrace and create our reality. Source energy cannot co-create both choices simultaneously, one must cease while the other is energized in alignment with our thoughts. Balance is not 50/50.</p>
            </div>
            <div class="body_grid--section-2 quote-box shadow">
                <img class="awareness_open-quote-2" src="../images/icons/open-quote.png" alt="Open quote icon">
                <p>Freewill is a gift of the moment</p>
                <img class="awareness_close-quote-2" src="../images/icons/close-quote.png" alt="Close quote icon">
            </div>
        </div>

        <p>The laws of energy states that <b>like energy attracts like energy</b>, when you focus negative energy on your thoughts you attract more negative thoughts and events to you. So too it is with positive energy, you attract more positive thoughts and events to you. As always the choice is yours, so choose wisely with awareness, for <b>you are choosing your reality</b>.</p>
    </div>

</div> <!-- END OF WRAPPER -->

<div class="awareness_about_link">
    <div class="awareness_about_link_infobar--content">

        <div class="awareness_about_link--text">
            <p>Origins of Sacred Tribe Energy Healing</p>
        </div>

        <div class="awareness_about_link--button">
            <a href="/about">
                <button class="link-button">Read more</button>
            </a>
        </div>
</div>