<% layout('layouts/boilerplate')%>

<!-- HERO DIV -->

<div id="jewellery__hero_div">
    
    <div class="hero_header">
        
        <%- include('../../partials/navbarWhite')%>
        
        <%- include('../../partials/sideNavbarWhite')%>

        <div class="navbar_top_padding">

        <div class="indian_woman--img-overlay">

            <div class="hero_header-content">

                <div class="hero_header--icon">
                    <img src="./images/logo/white-feather.svg" alt="White Feather Jewellery logo">
                </div>
    
                <div class="hero_header--text">
                   <p>Energy Attuned Unique Handmade Jewellery</p>
                </div>
    
            </div>

        </div>
        </div>

    </div>

    <div class="hero_infobar">

        <div class="hero_infobar--content">

            <div class="hero_infobar--text">
                <p>Click to view the buying guide</p>
            </div>

            <div class="hero_infobar--grid hide">

                <div class="hero_infobar--grid-item hero_infobar--grid-item-1">

                    <div class="hero_infobar--grid-item-icon">
                        <img class="grid_item--icon" src="./images/icons/person.svg" alt="Person icon">
                    </div>

                    <div class="hero_infobar--grid-item-text hero_infobar--grid-item-text-1">
                        <p>Choose by the jewellery you are drawn too (for the energy imprinted is directly speaking to your heart and bypasses the limitations of the mind) as it holds the energy of what you require to assist you moving forward - plus the energy of the physical jewellery itself.</p>
                    </div>

                </div>

                <div class="hero_infobar--grid-item hero_infobar--grid-item-2">

                    <div class="hero_infobar--grid-item-icon">
                        <img class="grid_item--icon" src="./images/icons/gift.svg" alt="Gift icon">
                    </div>

                    <div class="hero_infobar--grid-item-text hero_infobar--grid-item-text-2">
                        <p>When choosing as a gift for someone else, please hold them in your attention first - either by thinking of them or looking at a picture of them or just by stating the name of the person that the gift you are choosing is for. Then choose that which you are drawn to for them.</p>
                    </div>

                </div>

            </div>

            <div class="hero_infobar--button">
                <button class="buying_guide-button">Read More</button>
            </div>
            
        </div>
        
    </div>

    <div class="hero_grid">

        <div class="hero_grid--item hero_grid--item-1">

                <div class="overlay"></div>

                <div class="hero_grid--item-content hero_grid--item-content-1">

                    <div class="hero_grid--item-icon circle-icon">
                        <img src="./images/icons/simple-circle.svg" alt="Circle icon">
                    </div>

                    <div class="hero_grid--item-text">
                        <p>Unique Pieces</p>
                    </div>

                </div>

        </div>

        <div class="hero_grid--item hero_grid--item-2">

            <div class="overlay"></div>
            
            <div class="hero_grid--item-content hero_grid--item-content-2">
                
                    <div class="hero_grid--item-icon recycle-icon">
                        <img src="./images/icons/recycle.svg" alt="Recycle icon">
                    </div>
                    
                    <div class="hero_grid--item-text">
                        <p>Made with 30% <br> reclaimed materials</p>
                    </div>
                    
                </div>

        </div>

        <div class="hero_grid--item hero_grid--item-3">

            <div class="overlay"></div>

            <div class="hero_grid--item-content hero_grid--item-content-3">

                <div class="hero_grid--item-icon shipping-icon">
                    <img src="./images/icons/local-shipping.svg" alt="Shipping icon">
                </div>

                <div class="hero_grid--item-text">
                    <p>Free Shipping</p>
                </div>

            </div>

        </div>

    </div>

    <div class="hero_grid_mobile">

        <div class="hero_grid_mobile--item hero_grid_mobile--item-1">

                    <div class="hero_grid_mobile--item-icon mobile--circle-icon">
                        <img src="./images/icons/simple-circle-purple.svg" alt="Circle icon">
                    </div>

                    <div class="hero_grid_mobile--item-text">
                        <p>Unique Pieces</p>
                    </div>

        </div>

        <div class="hero_grid_mobile--item hero_grid_mobile--item-2">
                
                    <div class="hero_grid_mobile--item-icon mobile--recycle-icon">
                        <img src="./images/icons/recycle-purple.svg" alt="Recycle icon">
                    </div>
                    
                    <div class="hero_grid_mobile--item-text">
                        <p>Made with 30% <br> reclaimed materials</p>
                    </div>

        </div>

        <div class="hero_grid_mobile--item hero_grid_mobile--item-3">

                <div class="hero_grid_mobile--item-icon mobile--shipping-icon">
                    <img src="./images/icons/local-shipping-purple.svg" alt="Shipping icon">
                </div>

                <div class="hero_grid_mobile--item-text">
                    <p>Free Shipping</p>
                </div>

        </div>

    </div>

</div>

<!-- JEWELLERY TITLE -->

<div class="jewellery_featured">
    <h2>Featured Jewellery</h2>
</div>

<!-- JEWELLERY CONTENT DIV -->

<div class="jewellery_content_div">

    <div class="jewellery_item shadow">
        <div class="card border-light">
            <img class="card-img-top jewellery_item--image" src="./images/jewellery-1.jpg" alt="Jewellery image">
            <div class="card-body">
                <h5 class="card-title jewellery_item--title">Blue Jasper Wood</h5>
                <p class="card-text jewellery_item--text">Bracelet and Earring Set <br> <span class="text-muted jewellery_item--price">€85</span></p>
                <div class="jewellery_item--button">
                    <form action="/jewellery/show">
                        <button>View</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="jewellery_item shadow">
        <div class="card border-light">
            <img class="card-img-top jewellery_item--image" src="./images/jewellery-1.jpg" alt="Jewellery image">
            <div class="card-body">
                <h5 class="card-title jewellery_item--title">Blue Jasper Wood</h5>
                <p class="card-text jewellery_item--text">Bracelet and Earring Set <br> <span class="text-muted jewellery_item--price">€85</span></p>
                <div class="jewellery_item--button">
                    <form action="/jewellery">
                        <button>View</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="jewellery_item shadow">
        <div class="card border-light">
            <img class="card-img-top jewellery_item--image" src="./images/jewellery-1.jpg" alt="Jewellery image">
            <div class="card-body">
                <h5 class="card-title jewellery_item--title">Blue Jasper Wood</h5>
                <p class="card-text jewellery_item--text">Bracelet and Earring Set <br> <span class="text-muted jewellery_item--price">€85</span></p>
                <div class="jewellery_item--button">
                    <form action="/jewellery">
                        <button>View</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="jewellery_item shadow">
        <div class="card border-light">
            <img class="card-img-top jewellery_item--image" src="./images/jewellery-1.jpg" alt="Jewellery image">
            <div class="card-body">
                <h5 class="card-title jewellery_item--title">Blue Jasper Wood</h5>
                <p class="card-text jewellery_item--text">Bracelet and Earring Set <br> <span class="text-muted jewellery_item--price">€85</span></p>
                <div class="jewellery_item--button">
                    <form action="/jewellery">
                        <button>View</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="jewellery_item shadow">
        <div class="card border-light">
            <img class="card-img-top jewellery_item--image" src="./images/jewellery-1.jpg" alt="Jewellery image">
            <div class="card-body">
                <h5 class="card-title jewellery_item--title">Blue Jasper Wood</h5>
                <p class="card-text jewellery_item--text">Bracelet and Earring Set <br> <span class="text-muted jewellery_item--price">€85</span></p>
                <div class="jewellery_item--button">
                    <form action="/jewellery">
                        <button>View</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="jewellery_item shadow">
        <div class="card border-light">
            <img class="card-img-top jewellery_item--image" src="./images/jewellery-1.jpg" alt="Jewellery image">
            <div class="card-body">
                <h5 class="card-title jewellery_item--title">Blue Jasper Wood</h5>
                <p class="card-text jewellery_item--text">Bracelet and Earring Set <br> <span class="text-muted jewellery_item--price">€85</span></p>
                <div class="jewellery_item--button">
                    <form action="/jewellery">
                        <button>View</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- TREATMENTS LINK -->

<div class="treatments_link">

    <div class="treatments_text">
        <div class="treatments_text--header">
            <h4>Energy Treatments</h4>
        </div>
        <div class="treatments_text--body">
            <p>The euphoria experienced post-treatment is the perfect frequency for launching into the life you desire...</p>
        </div>
        <div class="treatments_text--button">
            <form action="/treatments">
                <button>Read More</button>
            </form>
        </div>
    </div>

</div>


<!-- JEWELLERY CONTENT DIV -->

<div class="jewellery_content_div">

    <div class="jewellery_item shadow">
        <div class="card border-light">
            <img class="card-img-top jewellery_item--image" src="./images/jewellery-1.jpg" alt="Jewellery image">
            <div class="card-body">
                <h5 class="card-title jewellery_item--title">Blue Jasper Wood</h5>
                <p class="card-text jewellery_item--text">Bracelet and Earring Set <br> <span class="text-muted jewellery_item--price">€85</span></p>
                <div class="jewellery_item--button">
                    <form action="/jewellery">
                        <button>View</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="jewellery_item shadow">
        <div class="card border-light">
            <img class="card-img-top jewellery_item--image" src="./images/jewellery-1.jpg" alt="Jewellery image">
            <div class="card-body">
                <h5 class="card-title jewellery_item--title">Blue Jasper Wood</h5>
                <p class="card-text jewellery_item--text">Bracelet and Earring Set <br> <span class="text-muted jewellery_item--price">€85</span></p>
                <div class="jewellery_item--button">
                    <form action="/jewellery">
                        <button>View</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="jewellery_item shadow">
        <div class="card border-light">
            <img class="card-img-top jewellery_item--image" src="./images/jewellery-1.jpg" alt="Jewellery image">
            <div class="card-body">
                <h5 class="card-title jewellery_item--title">Blue Jasper Wood</h5>
                <p class="card-text jewellery_item--text">Bracelet and Earring Set <br> <span class="text-muted jewellery_item--price">€85</span></p>
                <div class="jewellery_item--button">
                    <form action="/jewellery">
                        <button>View</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="jewellery_item shadow">
        <div class="card border-light">
            <img class="card-img-top jewellery_item--image" src="./images/jewellery-1.jpg" alt="Jewellery image">
            <div class="card-body">
                <h5 class="card-title jewellery_item--title">Blue Jasper Wood</h5>
                <p class="card-text jewellery_item--text">Bracelet and Earring Set <br> <span class="text-muted jewellery_item--price">€85</span></p>
                <div class="jewellery_item--button">
                    <form action="/jewellery">
                        <button>View</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="jewellery_item shadow">
        <div class="card border-light">
            <img class="card-img-top jewellery_item--image" src="./images/jewellery-1.jpg" alt="Jewellery image">
            <div class="card-body">
                <h5 class="card-title jewellery_item--title">Blue Jasper Wood</h5>
                <p class="card-text jewellery_item--text">Bracelet and Earring Set <br> <span class="text-muted jewellery_item--price">€85</span></p>
                <div class="jewellery_item--button">
                    <form action="/jewellery">
                        <button>View</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="jewellery_item shadow">
        <div class="card border-light">
            <img class="card-img-top jewellery_item--image" src="./images/jewellery-1.jpg" alt="Jewellery image">
            <div class="card-body">
                <h5 class="card-title jewellery_item--title">Blue Jasper Wood</h5>
                <p class="card-text jewellery_item--text">Bracelet and Earring Set <br> <span class="text-muted jewellery_item--price">€85</span></p>
                <div class="jewellery_item--button">
                    <form action="/jewellery">
                        <button>View</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- AWARENESS LINK -->

<div class="awareness_link">

    <div class="awareness_text">
        <div class="awareness_text--header">
            <h4>Awareness</h4>
        </div>
        <div class="awareness_text--body">
            <p>We the peoples of this Earth are known among the Tribes of the skies as the 'Chosen people' as the universal laws of this planet are based on 'Freewill' the Right to Choose.</p>
        </div>
        <div class="awareness_text--button">
            <form action="/awareness">
                <button>Read More</button>
            </form>
        </div>
    </div>

</div>

<!-- JEWELLERY CONTENT DIV -->

<div class="jewellery_content_div">

    <div class="jewellery_item shadow">
        <div class="card border-light">
            <img class="card-img-top jewellery_item--image" src="./images/jewellery-1.jpg" alt="Jewellery image">
            <div class="card-body">
                <h5 class="card-title jewellery_item--title">Blue Jasper Wood</h5>
                <p class="card-text jewellery_item--text">Bracelet and Earring Set <br> <span class="text-muted jewellery_item--price">€85</span></p>
                <div class="jewellery_item--button">
                    <form action="/jewellery">
                        <button>View</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="jewellery_item shadow">
        <div class="card border-light">
            <img class="card-img-top jewellery_item--image" src="./images/jewellery-1.jpg" alt="Jewellery image">
            <div class="card-body">
                <h5 class="card-title jewellery_item--title">Blue Jasper Wood</h5>
                <p class="card-text jewellery_item--text">Bracelet and Earring Set <br> <span class="text-muted jewellery_item--price">€85</span></p>
                <div class="jewellery_item--button">
                    <form action="/jewellery">
                        <button>View</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="jewellery_item shadow">
        <div class="card border-light">
            <img class="card-img-top jewellery_item--image" src="./images/jewellery-1.jpg" alt="Jewellery image">
            <div class="card-body">
                <h5 class="card-title jewellery_item--title">Blue Jasper Wood</h5>
                <p class="card-text jewellery_item--text">Bracelet and Earring Set <br> <span class="text-muted jewellery_item--price">€85</span></p>
                <div class="jewellery_item--button">
                    <form action="/jewellery">
                        <button>View</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="jewellery_item shadow">
        <div class="card border-light">
            <img class="card-img-top jewellery_item--image" src="./images/jewellery-1.jpg" alt="Jewellery image">
            <div class="card-body">
                <h5 class="card-title jewellery_item--title">Blue Jasper Wood</h5>
                <p class="card-text jewellery_item--text">Bracelet and Earring Set <br> <span class="text-muted jewellery_item--price">€85</span></p>
                <div class="jewellery_item--button">
                    <form action="/jewellery">
                        <button>View</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="jewellery_item shadow">
        <div class="card border-light">
            <img class="card-img-top jewellery_item--image" src="./images/jewellery-1.jpg" alt="Jewellery image">
            <div class="card-body">
                <h5 class="card-title jewellery_item--title">Blue Jasper Wood</h5>
                <p class="card-text jewellery_item--text">Bracelet and Earring Set <br> <span class="text-muted jewellery_item--price">€85</span></p>
                <div class="jewellery_item--button">
                    <form action="/jewellery">
                        <button>View</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="jewellery_item shadow">
        <div class="card border-light">
            <img class="card-img-top jewellery_item--image" src="./images/jewellery-1.jpg" alt="Jewellery image">
            <div class="card-body">
                <h5 class="card-title jewellery_item--title">Blue Jasper Wood</h5>
                <p class="card-text jewellery_item--text">Bracelet and Earring Set <br> <span class="text-muted jewellery_item--price">€85</span></p>
                <div class="jewellery_item--button">
                    <form action="/jewellery">
                        <button>View</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
