<% layout('layouts/boilerplate')%>

    <h1>All Jewellery</h1>
     
    <ul>
        <% for (let jewellery of jewelleries) { %>
            <li><a href="/jewellery/<% jewellery._id %>"><% jewellery.title %></a></li>
        <% } %>
    </ul>

