<% layout('layouts/boilerplate')%>

<!-- HERO DIV -->

<div id="jewellery__hero_div">

    <div class="hero_header">

        <div class="indian_woman--img-overlay">

            <div class="hero_header-content">

                <div class="hero_header--icon">
                    <img src="./images/logo/white-feather.png" alt="White Feather Jewellery logo">
                </div>
    
                <div class="hero_header--text">
                   <p>Energy Attuned Unique Handmade Jewellery</p>
                </div>
    
            </div>

        </div>

    </div>

    <div class="hero_infobar">

        <div class="hero_infobar--content">

            <div class="hero_infobar--text">
                <p>Buying as a gift or for yourself? Click below to read the buying guide</p>
            </div>

            <div class="hero_infobar--grid hide">

                <div class="hero_infobar--grid-item hero_infobar--grid-item-1">

                    <div class="hero_infobar--grid-item-icon">
                        <img src="./images/icons/person.png" alt="Person icon">
                    </div>

                    <div class="hero_infobar--grid-item-text hero_infobar--grid-item-text-1">
                        <p>Choose by the jewellery you are drawn too (for the energy imprinted is directly speaking to your heart and bypasses the limitations of the mind) as it holds the energy of what you require to assist you moving forward - plus the energy of the physical jewellery itself.</p>
                    </div>

                </div>

                <div class="hero_infobar--grid-item hero_infobar--grid-item-2">

                    <div class="hero_infobar--grid-item-icon">
                        <img src="./images/icons/gift.png" alt="Gift icon">
                    </div>

                    <div class="hero_infobar--grid-item-text hero_infobar--grid-item-text-2">
                        <p>When choosing as a gift for someone else, please hold them in your attention first - either by thinking of them or looking at a picture of them or just by stating the name of the person that the gift you are choosing is for. Then choose that which you are drawn to for them.</p>
                    </div>

                </div>

            </div>

            <div class="hero_infobar--button">
                <button class="buying_guide-button">Read More</button>
            </div>
            
        </div>
        
    </div>

    <div class="hero_grid">

        <div class="hero_grid--item hero_grid--item-1">

                <div class="overlay"></div>

                <div class="hero_grid--item-content hero_grid--item-content-1">

                    <div class="hero_grid--item-icon">
                        <img src="./images/icons/simple-circle.png" alt="Circle icon">
                    </div>

                    <div class="hero_grid--item-text">
                        <p>Unique Pieces</p>
                    </div>

                </div>

        </div>

        <div class="hero_grid--item hero_grid--item-2">

            <div class="overlay"></div>
            
            <div class="hero_grid--item-content hero_grid--item-content-2">
                
                    <div class="hero_grid--item-icon">
                        <img src="./images/icons/recycle.png" alt="Recycle icon">
                    </div>
                    
                    <div class="hero_grid--item-text">
                        <p>Made with 30% <br> reclaimed materials</p>
                    </div>
                    
                </div>

        </div>

        <div class="hero_grid--item hero_grid--item-3">

            <div class="overlay"></div>

            <div class="hero_grid--item-content hero_grid--item-content-3">

                <div class="hero_grid--item-icon">
                    <img src="./images/icons/local-shipping.png" alt="Shipping icon">
                </div>

                <div class="hero_grid--item-text">
                    <p>Free Shipping</p>
                </div>

            </div>

        </div>

    </div>

</div>

