<% layout('layouts/boilerplate')%>

<%- include('../../partials/navbarBlack')%>

<!-- CONTENT WRAPPER FOR MARGIN -->
<div class="jewellery_show--wrapper">

<!-- BACK TO ALL JEWELLERY -->

<div class="back_to_jewellery">
    <a href="/jewellery"><i class="fas fa-arrow-left"></i> Back to jewellery</a>
</div>

<!-- JEWELLERY CONTENT -->

<div class="jewellery_show_content">

    <div class="jewellery_content_main">

        <!-- Gris section 1 -->

        <div class="jewellery_content_main--section-1">
            <!-- Swiper JS with photos on the side -->
            <img class="thumb_image thumb-1" src="../images/jewellery-1.jpg" alt="jewellery image">
            <img class="thumb_image thumb-2" src="../images/jewellery-1.jpg" alt="jewellery image">
            <img class="thumb_image thumb-3" src="../images/jewellery-1.jpg" alt="jewellery image">
            <div class="share_item">
                <img class="share_item--icon" src="../images/icons/share.svg" alt="Share icon">
                <p class="share_item--text">Share</p>
            </div>
            <img class="main_image" src="../images/jewellery-1.jpg" alt="jewellery image">
        </div>

        <!-- Gris section 2 -->

        <div class="jewellery_content_main--section-2">
            <h1 class="jewellery_title">Blue Jasper Wood</h1>
            <h2 class="jewellery_type">Bracelet and Earring Set</h2>
            <p class="jewellery_price">€85 <span class="delivery_included">Delivery included</span></p>
            <p class="jewellery_stock">Unique item! Only one in stock</p>
            <form class="jewellery_buy_button">
                <button>Buy Now</button>
            </form>
            <p class="jewellery_wishlist--add"><i class="far fa-heart"></i> ADD TO WISHLIST</p>

            <div class="jewellery_description">
                <h4 class="jewellery_description--header">Energy attuned handmade designer jewellery</h4>
                <p class="jewellery_description--body">
                    This bracelet and earring set, made with gemstones, comprises of the following: <br>
                    • Lava stones <br>
                    • Spacers with antique silver <br>
                    • Wooden and synthetic beads <br>
                    Earrings made using stainless steel ear wires.<br>
                    All products are made with 30% reclaimed materials utilised in service to Mother Earth. <br>
                    Products shipped next working day.
                </p>
            </div>
        </div>
    </div>

    <!-- MATERIALS AND SYMBOLISM -->

    <div class="materials_grid">

        <div class="materials_grid--header">
            <p>Materials and Symbolism</p>
        </div>

        <div class="materials_grid--body">

            <div class="materials_grid--item">
                <img class="materials_grid--icon" src="../images/jasper.jpeg" alt="Materials used thumbnail">
                <div class="materials_grid--text">
                    <p class="materials_grid--text-header">Blue Jasper</p>
                    <p class="materials_grid--text-body">Trust, Honour, Strength, Wisdom, Power, Freedom, Courage. <br>
                    Message of Support from the Angelic Spirit Realm and from Departed Loved Ones.</p>
                </div>
            </div>
            <div class="materials_grid--item">
                <img class="materials_grid--icon" src="../images/jasper.jpeg" alt="Materials used thumbnail">
                <div class="materials_grid--text">
                    <p class="materials_grid--text-header">Blue Jasper</p>
                    <p class="materials_grid--text-body">Trust, Honour, Strength, Wisdom, Power, Freedom, Courage. <br>
                    Message of Support from the Angelic Spirit Realm and from Departed Loved Ones.</p>
                </div>
            </div>
            <div class="materials_grid--item">
                <img class="materials_grid--icon" src="../images/jasper.jpeg" alt="Materials used thumbnail">
                <div class="materials_grid--text">
                    <p class="materials_grid--text-header">Blue Jasper</p>
                    <p class="materials_grid--text-body">Trust, Honour, Strength, Wisdom, Power, Freedom, Courage. <br>
                    Message of Support from the Angelic Spirit Realm and from Departed Loved Ones.</p>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- WHITE FEATHER JEWELLERY --> 

<div class="white_feather_bio">
    <div class="white_feather_bio--header">
        <p>White Feather Jewellery Origins</p>
    </div>
    <div class="white_feather_bio--body">
        <div class="white_feather_bio--text">
            White Feather is the tribal name given to me by the Sacred Tribe so I have chosen White Feather Jewellery as the name for this collaboration between my spirit team and I in the creating for you jewellery that is not only beautiful, unique and handmade but also energy attuned. <br>
            <br>
            Sacred space is created and held for the duration of the creative process, intent and focus is maintained, acknowledging and strengthening the key holistic words in relation to the crystals, gemstones and the colours and textures of the spacers utilized. <br>
            <br>
            When the set is complete, energy is channelled through me into the set and is absorbed into the recipient’s energy field when worn. To assist in the desires and/or challenges being experienced by the individual at this time.
        </div>
        
        <div class="white_feather_bio--icon">
            <img src="../images/logo/white-feather.svg" alt="White Feather Jewellery icon">
        </div>

    </div>
</div>

<!-- SIMILAR ITEMS -->

<div class="similar_items">

    <div class="similar_items-header">
        <p>View similar products</p>
    </div>

    <div class="similar_items--grid">

        <div class="jewellery_item shadow">
            <div class="card border-light">
                <img class="card-img-top jewellery_item--image" src="../images/jewellery-1.jpg" alt="Jewellery image">
                <div class="card-body">
                    <h5 class="card-title jewellery_item--title">Blue Jasper Wood</h5>
                    <p class="card-text jewellery_item--text">Bracelet and Earring Set <br> <span class="text-muted jewellery_item--price">€85</span></p>
                    <div class="jewellery_item--button">
                        <form action="/jewellery/show">
                            <button>View</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="jewellery_item shadow">
            <div class="card border-light">
                <img class="card-img-top jewellery_item--image" src="../images/jewellery-1.jpg" alt="Jewellery image">
                <div class="card-body">
                    <h5 class="card-title jewellery_item--title">Blue Jasper Wood</h5>
                    <p class="card-text jewellery_item--text">Bracelet and Earring Set <br> <span class="text-muted jewellery_item--price">€85</span></p>
                    <div class="jewellery_item--button">
                        <form action="/jewellery">
                            <button>View</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="jewellery_item shadow">
            <div class="card border-light">
                <img class="card-img-top jewellery_item--image" src="../images/jewellery-1.jpg" alt="Jewellery image">
                <div class="card-body">
                    <h5 class="card-title jewellery_item--title">Blue Jasper Wood</h5>
                    <p class="card-text jewellery_item--text">Bracelet and Earring Set <br> <span class="text-muted jewellery_item--price">€85</span></p>
                    <div class="jewellery_item--button">
                        <form action="/jewellery">
                            <button>View</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="jewellery_item shadow">
            <div class="card border-light">
                <img class="card-img-top jewellery_item--image" src="../images/jewellery-1.jpg" alt="Jewellery image">
                <div class="card-body">
                    <h5 class="card-title jewellery_item--title">Blue Jasper Wood</h5>
                    <p class="card-text jewellery_item--text">Bracelet and Earring Set <br> <span class="text-muted jewellery_item--price">€85</span></p>
                    <div class="jewellery_item--button">
                        <form action="/jewellery/show">
                            <button>View</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="jewellery_item shadow">
            <div class="card border-light">
                <img class="card-img-top jewellery_item--image" src="../images/jewellery-1.jpg" alt="Jewellery image">
                <div class="card-body">
                    <h5 class="card-title jewellery_item--title">Blue Jasper Wood</h5>
                    <p class="card-text jewellery_item--text">Bracelet and Earring Set <br> <span class="text-muted jewellery_item--price">€85</span></p>
                    <div class="jewellery_item--button">
                        <form action="/jewellery">
                            <button>View</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="jewellery_item shadow">
            <div class="card border-light">
                <img class="card-img-top jewellery_item--image" src="../images/jewellery-1.jpg" alt="Jewellery image">
                <div class="card-body">
                    <h5 class="card-title jewellery_item--title">Blue Jasper Wood</h5>
                    <p class="card-text jewellery_item--text">Bracelet and Earring Set <br> <span class="text-muted jewellery_item--price">€85</span></p>
                    <div class="jewellery_item--button">
                        <form action="/jewellery">
                            <button>View</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</div> <!--  End of content wrapper -->