<% layout('layouts/boilerplate')%>

    <h1><%= jewellery.title %></h1>
    <p><%= jewellery.description %></p>
    <p><%= jewellery.price %></p>
    <footer>
        <a href="/jewellery">All Jewellery</a>
    </footer>
