<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jewellery item</title>
</head>

<body>
    <h1><%= jewellery.title %></h1>
    <p><%= jewellery.description %></p>
    <p><%= jewellery.price %></p>
    <footer>
        <a href="/jewellery">All Jewellery</a>
    </footer>
</body>

</html>