<% layout('layouts/boilerplate')%>

<%- include('../partials/navbarBlack')%>

<%- include('../partials/sideNavbarBlack')%>

<div class="navbar_top_padding">

<!-- CONTENT WRAPPER FOR MARGIN -->
<div class="jewellery_show--wrapper">

<!-- BACK TO ALL JEWELLERY -->

<div class="back_to_jewellery">
    <a href="/jewellery"><i class="fas fa-arrow-left"></i> Back to jewellery</a>
</div>

<!-- JEWELLERY CONTENT -->

<div class="jewellery_show_content">

    <div >
        <div id='product-component-1623757232548'></div>
        <script type="text/javascript">
        /*<![CDATA[*/
        (function () {
        var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
        if (window.ShopifyBuy) {
            if (window.ShopifyBuy.UI) {
            ShopifyBuyInit();
            } else {
            loadScript();
            }
        } else {
            loadScript();
        }
        function loadScript() {
            var script = document.createElement('script');
            script.async = true;
            script.src = scriptURL;
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
            script.onload = ShopifyBuyInit;
        }
        function ShopifyBuyInit() {
            var client = ShopifyBuy.buildClient({
            domain: 'test-store-8192.myshopify.com',
            storefrontAccessToken: 'da879cbc53b72f09eff2eeac41e95dd9',
            });
            ShopifyBuy.UI.onReady(client).then(function (ui) {
            ui.createComponent('product', {
                id: '6765640745120',
                node: document.getElementById('product-component-1623757232548'),
                moneyFormat: '%E2%82%AC%7B%7Bamount_with_comma_separator%7D%7D',
                options: {
                        "product": {
                            "styles": {
                            "product": {
                                "@media (min-width: 601px)": {
                                "max-width": "100%",
                                "margin-left": "0",
                                "margin-bottom": "50px"
                                },
                                "text-align": "left"
                            },
                            "title": {
                                "font-size": "26px"
                            },
                            "button": {
                                "font-family": "Open Sans, sans-serif",
                                "font-size": "14px",
                                "padding-top": "15px",
                                "padding-bottom": "15px",
                                ":hover": {
                                "background-color": "#7757d3"
                                },
                                "background-color": "#8461ea",
                                ":focus": {
                                "background-color": "#7757d3"
                                }
                            },
                            "quantityInput": {
                                "font-size": "14px",
                                "padding-top": "15px",
                                "padding-bottom": "15px"
                            },
                            "price": {
                                "font-size": "18px"
                            },
                            "compareAt": {
                                "font-size": "15.299999999999999px"
                            },
                            "unitPrice": {
                                "font-size": "15.299999999999999px"
                            }
                            },
                            "layout": "horizontal",
                            "contents": {
                            "img": false,
                            "imgWithCarousel": true,
                            "description": true
                            },
                            "width": "100%",
                            "text": {
                            "button": "Add to cart"
                            },
                            "googleFonts": [
                            "Open Sans"
                            ]
                        },
                        "productSet": {
                            "styles": {
                            "products": {
                                "@media (min-width: 601px)": {
                                "margin-left": "-20px"
                                }
                            }
                            }
                        },
                        "modalProduct": {
                            "contents": {
                            "img": false,
                            "imgWithCarousel": true,
                            "button": false,
                            "buttonWithQuantity": true
                            },
                            "styles": {
                            "product": {
                                "@media (min-width: 601px)": {
                                "max-width": "100%",
                                "margin-left": "0px",
                                "margin-bottom": "0px"
                                }
                            },
                            "button": {
                                "font-family": "Open Sans, sans-serif",
                                "font-size": "14px",
                                "padding-top": "15px",
                                "padding-bottom": "15px",
                                ":hover": {
                                "background-color": "#7757d3"
                                },
                                "background-color": "#8461ea",
                                ":focus": {
                                "background-color": "#7757d3"
                                }
                            },
                            "quantityInput": {
                                "font-size": "14px",
                                "padding-top": "15px",
                                "padding-bottom": "15px"
                            },
                            "title": {
                                "font-family": "Helvetica Neue, sans-serif",
                                "font-weight": "bold",
                                "font-size": "26px",
                                "color": "#4c4c4c"
                            },
                            "price": {
                                "font-family": "Helvetica Neue, sans-serif",
                                "font-weight": "normal",
                                "font-size": "18px",
                                "color": "#4c4c4c"
                            },
                            "compareAt": {
                                "font-family": "Helvetica Neue, sans-serif",
                                "font-weight": "normal",
                                "font-size": "15.299999999999999px",
                                "color": "#4c4c4c"
                            },
                            "unitPrice": {
                                "font-family": "Helvetica Neue, sans-serif",
                                "font-weight": "normal",
                                "font-size": "15.299999999999999px",
                                "color": "#4c4c4c"
                            }
                            },
                            "googleFonts": [
                            "Open Sans"
                            ],
                            "text": {
                            "button": "Add to cart"
                            }
                        },
                        "option": {},
                        "cart": {
                            "styles": {
                            "button": {
                                "font-family": "Open Sans, sans-serif",
                                "font-size": "14px",
                                "padding-top": "15px",
                                "padding-bottom": "15px",
                                ":hover": {
                                "background-color": "#7757d3"
                                },
                                "background-color": "#8461ea",
                                ":focus": {
                                "background-color": "#7757d3"
                                }
                            }
                            },
                            "text": {
                            "total": "Subtotal",
                            "button": "Checkout"
                            },
                            "googleFonts": [
                            "Open Sans"
                            ]
                        },
                        "toggle": {
                            "styles": {
                            "toggle": {
                                "font-family": "Open Sans, sans-serif",
                                "background-color": "#8461ea",
                                ":hover": {
                                "background-color": "#7757d3"
                                },
                                ":focus": {
                                "background-color": "#7757d3"
                                }
                            },
                            "count": {
                                "font-size": "14px"
                            }
                            },
                            "googleFonts": [
                            "Open Sans"
                            ]
                        }
                        },
                            });
                            });
                        }
                        })();
                        /*]]>*/
                        </script>
        
    </div>

    <!-- MATERIALS AND SYMBOLISM -->

    <div class="materials_grid">

        <div class="materials_grid--header">
            <p>Materials and Symbolism</p>
        </div>

        <div class="materials_grid--body">

            <div class="materials_grid--item">
                <img class="materials_grid--icon" src="../assets/images/jasper.jpeg" alt="Materials used thumbnail">
                <div class="materials_grid--text">
                    <p class="materials_grid--text-header">Blue Jasper</p>
                    <p class="materials_grid--text-body">Trust, Honour, Strength, Wisdom, Power, Freedom, Courage.
                    Message of Support from the Angelic Spirit Realm and from Departed Loved Ones.</p>
                </div>
            </div>
            <div class="materials_grid--item">
                <img class="materials_grid--icon" src="../assets/images/jasper.jpeg" alt="Materials used thumbnail">
                <div class="materials_grid--text">
                    <p class="materials_grid--text-header">Blue Jasper</p>
                    <p class="materials_grid--text-body">Trust, Honour, Strength, Wisdom, Power, Freedom, Courage.
                    Message of Support from the Angelic Spirit Realm and from Departed Loved Ones.</p>
                </div>
            </div>
            <div class="materials_grid--item">
                <img class="materials_grid--icon" src="../assets/images/jasper.jpeg" alt="Materials used thumbnail">
                <div class="materials_grid--text">
                    <p class="materials_grid--text-header">Blue Jasper</p>
                    <p class="materials_grid--text-body">Trust, Honour, Strength, Wisdom, Power, Freedom, Courage.
                    Message of Support from the Angelic Spirit Realm and from Departed Loved Ones.</p>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- WHITE FEATHER JEWELLERY --> 

<div class="white_feather_bio">
    <div class="white_feather_bio--header">
        <p>White Feather Jewellery Origins</p>
    </div>
    <div class="white_feather_bio--body">
        <div class="white_feather_bio--text">
            White Feather is the tribal name given to me by the Sacred Tribe so I have chosen White Feather Jewellery as the name for this collaboration between my spirit team and I in the creating for you jewellery that is not only beautiful, unique and handmade but also energy attuned. <br>
            <br>
            Sacred space is created and held for the duration of the creative process, intent and focus is maintained, acknowledging and strengthening the key holistic words in relation to the crystals, gemstones and the colours and textures of the spacers utilized. <br>
            <br>
            When the set is complete, energy is channelled through me into the set and is absorbed into the recipient’s energy field when worn. To assist in the desires and/or challenges being experienced by the individual at this time.
        </div>
        
        <div class="white_feather_bio--icon">
            <img src="../assets/images/logo/white-feather.svg" alt="White Feather Jewellery icon">
        </div>

    </div>
</div>

<!-- SIMILAR ITEMS -->

<div class="similar_items">

    <div class="similar_items-header">
        <p>View similar products</p>
    </div>

    <div class="similar_items--grid">

        <div class="jewellery_item shadow">
            <div class="card border-light">
                <img class="card-img-top jewellery_item--image" src="../assets/images/jewellery-1.jpg" alt="Jewellery image">
                <div class="card-body">
                    <h5 class="card-title jewellery_item--title">Blue Jasper Wood</h5>
                    <p class="card-text jewellery_item--text">Bracelet and Earring Set <br> <span class="text-muted jewellery_item--price">€85</span></p>
                    <div class="jewellery_item--button">
                        <form action="/jewellery/show">
                            <button>View</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="jewellery_item shadow">
            <div class="card border-light">
                <img class="card-img-top jewellery_item--image" src="../assets/images/jewellery-1.jpg" alt="Jewellery image">
                <div class="card-body">
                    <h5 class="card-title jewellery_item--title">Blue Jasper Wood</h5>
                    <p class="card-text jewellery_item--text">Bracelet and Earring Set <br> <span class="text-muted jewellery_item--price">€85</span></p>
                    <div class="jewellery_item--button">
                        <form action="/jewellery">
                            <button>View</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="jewellery_item shadow">
            <div class="card border-light">
                <img class="card-img-top jewellery_item--image" src="../assets/images/jewellery-1.jpg" alt="Jewellery image">
                <div class="card-body">
                    <h5 class="card-title jewellery_item--title">Blue Jasper Wood</h5>
                    <p class="card-text jewellery_item--text">Bracelet and Earring Set <br> <span class="text-muted jewellery_item--price">€85</span></p>
                    <div class="jewellery_item--button">
                        <form action="/jewellery">
                            <button>View</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="jewellery_item shadow">
            <div class="card border-light">
                <img class="card-img-top jewellery_item--image" src="../assets/images/jewellery-1.jpg" alt="Jewellery image">
                <div class="card-body">
                    <h5 class="card-title jewellery_item--title">Blue Jasper Wood</h5>
                    <p class="card-text jewellery_item--text">Bracelet and Earring Set <br> <span class="text-muted jewellery_item--price">€85</span></p>
                    <div class="jewellery_item--button">
                        <form action="/jewellery/show">
                            <button>View</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="jewellery_item shadow">
            <div class="card border-light">
                <img class="card-img-top jewellery_item--image" src="../assets/images/jewellery-1.jpg" alt="Jewellery image">
                <div class="card-body">
                    <h5 class="card-title jewellery_item--title">Blue Jasper Wood</h5>
                    <p class="card-text jewellery_item--text">Bracelet and Earring Set <br> <span class="text-muted jewellery_item--price">€85</span></p>
                    <div class="jewellery_item--button">
                        <form action="/jewellery">
                            <button>View</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="jewellery_item shadow">
            <div class="card border-light">
                <img class="card-img-top jewellery_item--image" src="../assets/images/jewellery-1.jpg" alt="Jewellery image">
                <div class="card-body">
                    <h5 class="card-title jewellery_item--title">Blue Jasper Wood</h5>
                    <p class="card-text jewellery_item--text">Bracelet and Earring Set <br> <span class="text-muted jewellery_item--price">€85</span></p>
                    <div class="jewellery_item--button">
                        <form action="/jewellery">
                            <button>View</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</div> <!--  End of content wrapper -->
</div>  